@import "variables";
@import "bootstrap";
@import "mixins";

html, body {
  overflow-x: hidden;
}

body {
  color: #555;
  background-color: $gray;
  background-image: url(../images/bg.png);
  font-family: 'Open Sans', sans-serif;
}

@import "loader";
@import "error";
@import "elements";
@import "overrides";

.container-fluid {
  background-color: #fcfcfc;
  margin-top: 20px;
}

.page {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
  }
}

.header {
  background-color: #29567D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 100;
  .rabix-logo {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    &:before {
      content: '';
      display: inline-block;
      border-right: 4px solid #fff;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      margin: 0 5px 0 0;
    }
  }
  .btn-sm {
    padding: 0 10px;
  }
  .welcome {
    color: #fff;
    font-size: 12px;
    display: block;
    strong {
      margin: 0 5px;
    }
  }
}



