<div class="form-group">
    <label class="control-label">Base Cmd</label>

    <div class="enum-list-wrap">
        <a href ng-click="addBaseCmd()" class="btn btn-default add-enum-item"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="enum-list-container">
            <ul class="enum-list" ng-class="{wide: view.toolForm.adapter.baseCmd.length === 1}">
                <li ng-repeat="baseCmd in view.toolForm.adapter.baseCmd track by $index">
                    <div class="enum-field form-group form-group-file with-expression">
                        <expr ng-model="baseCmd" index="{{ $index }}" handle-item-update="updateBaseCmd(index, value)"></expr>
                    </div>
                    <a href ng-hide="view.toolForm.adapter.baseCmd.length === 1" class="glyphicon glyphicon-remove remove-btn" ng-click="removeBaseCmd($index)"></a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="form-group with-expression">
    <label class="control-label">Stdout</label>
    <expr ng-model="view.toolForm.adapter.stdout" handle-item-update="updateStdOut(value)"></expr>
</div>

<legend class="legend-small toggle" ng-class="{active: view.propsExpanded.args}" ng-click="toggleProperties('args')">
    Arguments
    <add-property
            type="arg"
            properties="view.toolForm.adapter.args">
    </add-property>
</legend>
<argument
        ng-repeat="(key, argument) in view.toolForm.adapter.args track by $index"
        ng-model="argument"
        active="view.active.args[key]"
        name="{{ key }}"
        form="forms.toolForm"
        properties="view.toolForm.adapter.args">
</argument>

<p class="alert alert-info" ng-if="view.toolForm.adapter.args | isEmpty">There are no arguments at this moment.</p>