<legend class="legend-small toggle" ng-class="{active: view.propsExpanded.inputs}" ng-click="toggleProperties('inputs')">
    Properties
    <add-property
            type="input"
            properties="view.toolForm.inputs.properties"
            platform-features="view.toolForm.requirements.platformFeatures"
            values-from="view.valuesFrom">
    </add-property>
</legend>

<property-input
        ng-repeat="(key, property) in view.toolForm.inputs.properties"
        ng-model="property"
        active="view.active.inputs[key]"
        name="{{ key }}"
        form="forms.toolForm"
        inputs="view.jobForm.inputs"
        properties="view.toolForm.inputs.properties"
        platform-features="view.toolForm.requirements.platformFeatures"
        values-from="view.valuesFrom"
        transforms="view.toolForm.requirements.platformFeatures">
</property-input>

<p class="alert alert-info" ng-if="view.toolForm.inputs.properties | isEmpty">There are no inputs at this moment.</p>