<ng-form class="form" name="forms.jobForm" role="form" novalidate>

    <div class="input-container">
        <input-field
                ng-repeat="(key, property) in view.toolForm.inputs.properties"
                ng-model="view.jobForm.inputs[key]"
                key="{{ key }}"
                prop="property"
                form="forms.jobForm">
        </input-field>
    </div>

    <p class="alert alert-info" ng-if="view.toolForm.inputs.properties | isEmpty">There are no values to be set at this moment.</p>

</ng-form>