<div class="expression-wrap">

    <div class="input-group" ng-class="{error: view.exprError}">

        <!--<i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>-->

        <input ng-show="view.mode === 'transform'" type="text" class="form-control" ng-model="view.transform.value" readonly>

        <input ng-show="view.mode === 'literal'" type="{{ view.type }}" class="form-control" ng-model="view.literal" placeholder="{{ view.placeholder }}" ng-readonly="onlyExpr">

        <span class="input-group-btn">
            <a href
               class="btn btn-expression"
               tooltip="{{ view.transform.value || 'There is no expression defined. Click to add it' }}"
               tooltip-append-to-body="true"
               ng-click="editExpression()"
               ng-class="{'btn-warning': (view.mode === 'transform'), 'btn-default': (view.mode === 'literal')}">
               <i class="fa fa-code"></i>
            </a>
        </span>
    </div>

</div>