<div property-header
     class="property-box-header tool"
     name="{{ view.name }}"
     position="view.property.adapter.position"
     adapter="view.property.adapter"
     type="array"
     tool-type="tool"
     mode="input"
     item-type="{{ view.items.type }}"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">
        <div class="col-md-3 box-col">
            <strong class="key">Prefix:</strong>
            <div class="value">
                <span ng-if="view.items.type !== 'record'">{{ view.property.adapter.prefix }}</span>
                <i class="none" ng-if="view.items.type === 'record'">none</i>
                <i ng-if="!view.property.adapter.prefix && view.items.type !== 'record'">Not defined</i>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Separator:</strong>
            <div class="value">
                <separator-info type="item" model="view.property.adapter.separator"></separator-info>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Item Separator:</strong>
            <div class="value">
                <separator-info type="list" model="view.property.adapter.itemSeparator"></separator-info>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Value:</strong>
            <div class="value">
                <div ng-if="view.items.type !== 'record'" class="value">
                    <i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>
                    {{ view.property.adapter.argValue.value }}
                </div>
                <i ng-if="view.items.type === 'record'">none</i>
                <i ng-if="view.items.type !== 'record' && !view.property.adapter.argValue">Not defined</i>
            </div>
        </div>

    </div>

    <div class="row" ng-if="view.items.type === 'record'">
        <div class="col-md-12">

            <legend class="legend-small">
                Properties
                <add-property
                        type="input"
                        tool-type="tool"
                        properties="view.items.fields">
                </add-property>
            </legend>

            <property-input
                    ng-repeat="property in view.items.fields track by property.name"
                    ng-model="property"
                    type="{{ type }}"
                    inputs="inputs[view.name]"
                    properties="view.items.fields"
                    handler="handler()">
            </property-input>

            <p class="alert alert-info" ng-if="view.items.fields.length === 0">There are no properties at this moment.</p>
        </div>
    </div>

</div>