<div property-header
     name="{{ name }}"
     class="property-box-header"
     order="prop.adapter.order"
     type="{{ prop.type }}"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">

        <div class="col-md-4 box-col">
            <strong class="key">Value:</strong>
            <div class="value">
                <div class="value">{{ prop.adapter.value.expr.value}}</div>
                <i ng-if="!prop.adapter.value">Not defined</i>
            </div>
        </div>
        <!-- END Value -->

        <div class="col-md-4 box-col">
            <strong class="key">Glob:</strong>
            <div class="value">{{ prop.adapter.glob.expr ? prop.adapter.glob.expr.value : prop.adapter.glob }}</div>
            <i ng-if="!prop.adapter.glob">Not defined</i>
        </div>
        <!-- END Glob -->

        <div class="col-md-4 box-col">
            <strong class="key">Inherit:</strong>
            <div ng-if="prop.adapter.metadata.__inherit__" class="value">{{ prop.adapter.metadata.__inherit__ }}</div>
            <i ng-if="!prop.adapter.metadata.__inherit__">Not defined</i>
        </div>
        <!-- END Inherit -->

    </div>
    <div class="row">

        <div class="col-md-4 box-col">
            <strong class="key">Metadata:</strong>
            <div class="value">{{ view.metadata }}</div>
            <i ng-if="!view.metadata">Not defined</i>
        </div>
        <!-- END Metadata -->

        <div class="col-md-4 box-col">
            <strong class="key">Secondary Files:</strong>
            <div ng-if="!prop.adapter.secondaryFiles.expr" class="value">
                <span ng-if="prop.adapter.secondaryFiles.length > 0">{{ prop.adapter.secondaryFiles.join(', ') }}</span>
                <i ng-if="!prop.adapter.secondaryFiles.length">Not defined</i>
            </div>
            <div ng-if="prop.adapter.secondaryFiles.expr" class="value">{{ prop.adapter.secondaryFiles.expr.value }}</div>
        </div>
        <!-- END Secondary Files -->
    </div>

</div>