<div class="property-box-header-inner {{ type }}" ng-click="triggerAction('toggle')">

    <div class="property-box-actions pull-right">
        <a href ng-click="triggerAction('edit', $event)" title="Edit"><i class="fa fa-pencil"></i></a>
        <a href ng-click="triggerAction('remove', $event)" title="Delete"><i class="fa fa-times"></i></a>
    </div>

    <div class="property-box-short-info">
        <span class="order" tooltip="position">{{ view.position }}</span>
        <strong class="name" tooltip="name">{{ name }}</strong>
        <i ng-if="type !== 'arg'" class="type" tooltip="type">{{ type }} {{ itemType ? ' (' + itemType + ')' : '' }}</i>
        <span ng-if="isRequired" class="required" tooltip="required">*</span>
    </div>

</div>