<div property-header
     name="{{ name }}"
     class="property-box-header"
     order="prop.adapter.order"
     type="{{ prop.type }}"
     item-type="{{ prop.items.type }}"
     is-required="{{ view.required }}"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">
        <div class="col-md-2 box-col">
            <strong class="key">Prefix:</strong>
            <div class="value">
                <span ng-if="prop.items.type !== 'object'">{{ prop.adapter.prefix }}</span>
                <i class="none" ng-if="prop.items.type === 'object'">none</i>
                <i ng-if="!prop.adapter.prefix && prop.items.type !== 'object'">Not defined</i>
            </div>
        </div>

        <div class="col-md-2 box-col">
            <strong class="key">Separator:</strong>
            <div class="value">
                <separator-info type="item" model="prop.adapter.separator"></separator-info>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Transform:</strong>
            <div class="value">
                <div ng-if="prop.items.type !== 'object'" class="value">{{ prop.adapter.glob.transform.value }}</div>
                <i ng-if="prop.items.type === 'object'">none</i>
                <i ng-if="prop.items.type !== 'object' && !prop.adapter.transform">Not defined</i>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-2 box-col">
            <strong class="key">Min:</strong>
            <div class="value">
                <span>{{ prop.minItems }}</span>
                <i ng-if="!prop.minItems">Not defined</i>
            </div>
        </div>

        <div class="col-md-2 box-col">
            <strong class="key">Max:</strong>
            <div class="value">
                <span>{{ prop.maxItems }}</span>
                <i ng-if="!prop.maxItems">Not defined</i>
            </div>
        </div>

        <div class="col-md-5 box-col">
            <strong class="key">Item Separator:</strong>
            <div class="value">
                <separator-info type="list" model="prop.adapter.listSeparator"></separator-info>
            </div>
        </div>

        <div ng-if="prop.items.type === 'file'" class="col-md-3 box-col">
            <strong class="key">Streamable:</strong>
            <div class="value">{{ prop.adapter.listStreamable ? 'Yes' : 'No' }}</div>
        </div>

    </div>

    <div class="row" ng-if="prop.type === 'array' && prop.items.type === 'object'">
        <div class="col-md-12">
            <legend class="legend-small toggle" ng-class="{active: view.propsExpanded}" ng-click="toggleProperties()">
                Properties
                <add-property
                        type="input"
                        properties="prop.items.properties"
                        req="prop.items.required">
                </add-property>
            </legend>
            <property-input
                    ng-repeat="(key, property) in prop.items.properties"
                    ng-model="property"
                    active="view.active[key]"
                    name="{{ key }}"
                    inputs="inputs[name]"
                    properties="prop.items.properties"
                    req="prop.items.required">
            </property-input>
            <p class="alert alert-info" ng-if="prop.items.properties | isEmpty">There are no properties at this moment.</p>
        </div>
    </div>

</div>