<div class="property-box-header-inner">

    <div class="property-box-actions pull-right">
        <a href ng-click="triggerAction('edit', $event)"><i class="fa fa-pencil"></i></a>
        <a href ng-click="triggerAction('remove', $event)"><i class="fa fa-times"></i></a>
    </div>

    <div class="property-box-short-info">

        <div class="info-block">
            <strong class="name" tooltip="name">{{ name }}</strong>
            <i class="type" tooltip="type">{{ type }} {{ itemType ? ' (' + itemType + ')' : '' }}</i>
            <span ng-if="isRequired" class="required" tooltip="required">*</span>
        </div>

        <div ng-if="enum" class="info-block">
            <strong class="name">Enum:</strong>
            <span class="value">{{ enum.join(', ') }}</span>
        </div>

    </div>

</div>