<div property-header
     class="property-box-header tool"
     name="{{ name }}"
     order="prop.adapter.order"
     type="{{ prop.type }}"
     mode="input"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">
        <div class="col-md-2 box-col">
            <strong class="key">Prefix:</strong>
            <div class="value">
                <span>{{ prop.adapter.prefix }}</span>
                <i ng-if="!prop.adapter.prefix">Not defined</i>
            </div>
        </div>

        <div class="col-md-2 box-col">
            <strong class="key">Separator:</strong>
            <div class="value">
                <separator-info type="item" model="prop.adapter.separator"></separator-info>
            </div>
        </div>

        <div class="col-md-5 box-col">
            <strong class="key">Value:</strong>
            <div class="value">
                <div class="value">{{ prop.adapter.value.$expr}}</div>
                <i ng-if="!prop.adapter.value">Not defined</i>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Streamable:</strong>
            <div class="value">{{ prop.adapter.streamable ? 'Yes' : 'No' }}</div>
        </div>
    </div>

</div>