<div property-header
     class="property-box-header tool"
     name="{{ view.name }}"
     position="view.property.adapter.position"
     type="array"
     tool-type="tool"
     mode="output"
     item-type="{{ view.items.type }}"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">

        <div class="col-md-12 box-col">
            <strong class="key">Glob:</strong>
            <div class="value">
                <i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>
                {{ view.property.adapter.glob.value ? view.property.adapter.glob.value : view.property.adapter.glob }}
            </div>
            <i ng-if="!view.property.adapter.glob">Not defined</i>
        </div>
        <!-- END Glob -->

    </div>

</div>