<div property-header
     class="property-box-header tool"
     name="{{ view.name }}"
     position="view.property.adapter.position"
     adapter="view.property.adapter"
     type="enum"
     tool-type="tool"
     mode="input"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">
        <div class="col-md-4 box-col">
            <strong class="key">Prefix:</strong>
            <div class="value">
                <span>{{ view.property.adapter.prefix }}</span>
                <i ng-if="!view.property.adapter.prefix">Not defined</i>
            </div>
        </div>

        <div class="col-md-4 box-col">
            <strong class="key">Separator:</strong>
            <div class="value">
                <separator-info type="item" model="view.property.adapter.separator"></separator-info>
            </div>
        </div>

        <div class="col-md-4 box-col">
            <strong class="key">Value:</strong>
            <div class="value">
                <div class="value">
                    <i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>
                    {{ view.property.adapter.argValue.value}}
                </div>
                <i ng-if="!view.property.adapter.argValue">Not defined</i>
            </div>
        </div>

        <div class="col-md-3 box-col">
            <strong class="key">Enum:</strong>
            <div class="value">
                <span ng-if="view.symbols">{{ view.symbols.join(', ') }}</span>
            </div>
        </div>
    </div>

</div>