<div class="modal-body">
    <div ng-show="view.repos.length === 0"  class="alert alert-warning">You don't have any repositories to bind the workflow to.</div>

    <form ng-submit="ok()" name="view.form" novalidate>

        <div ng-if="view.pickName" class="form-group" ng-class="{ 'has-error' : view.form.name.$invalid }">
            <label>Pick another name: </label>
            <input class="form-control" type="text" name="name" ng-model="view.name" required focus-here="true"/>
            <span ng-if="view.form.name.$invalid" class="help-block" >Please enter new name.</span>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : view.form.repo.$invalid }">
            <label>Pick name for forked workflow: </label>
            <select  ng-model="view.repoSelected" class="form-control" name="repo" ng-options="repo._id as repo.name for repo in view.repos" required focus-here="true">
                <option value="">-- choose repo --</option>
            </select>
            <span ng-if="view.form.repo.$invalid" class="help-block" >Please pick repo from the list.</span>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="submit">{{view.type}}</button>
    <a class="btn btn-default" href ng-click="cancel()">cancel</a>
</div>
