<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchRepos()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search repos" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="actions pull-right" ng-if="view.user">
                    <a href ng-click="manageRepoModal()" class="btn btn-primary"><i class="fa fa-plus"></i> New Repo</a>
                    <!--<a ui-sref="add-your-github-repo" class="btn btn-default"><i class="fa fa-github"></i> Add Your GitHub Repo</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content content-tbl">
        <table class="table table-hover repos">
            <thead>
                <tr>
                    <th class="field-id">User/Repo</th>
                    <th class="field-created-by">Created By</th>
                    <th class="field-desc">Description</th>
                    <th class="center field-status">Status</th>
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in view.repos">
                    <td class="field-id">
                        <a ui-sref="repo({id: repo._id})">{{ ::repo.owner }}/{{ ::repo.name }}</a>
                    </td>
                    <td class="field-created-by">{{ ::repo.created_by }}</td>
                    <td class="field-desc"><p>{{ ::repo.description }}</p></td>
                    <td class="center field-status">
                        <i ng-if="!repo.is_public">Not published</i>
                        <span ng-if="repo.is_public" class="label label-primary">public</span>
                    </td>
                    <td class="center">
                        <a ng-if="!repo.git && view.user.login === repo.owner" href ng-click="manageRepoModal(repo)" class="btn btn-default" tooltip="Edit Repo"><i class="fa fa-pencil"></i></a>
                        <i ng-if="repo.git" class="fa fa-github github-flag" tooltip="This repo is imported from GitHub" tooltip-placement="left"></i>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.repos.length === 0">
                    <td colspan="5"><p class="alert alert-info">There are no repos</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <paginator class="paginator" page="view.page" total="view.total" handler="getMoreRepos(offset)"></paginator>

</div>