<div class="form-group" ng-class="{required: view.required, 'has-error': inputForm.inputNumber.$invalid}">
    <div class="control-label">
        <div ng-if="exposed" class="checkbox">
            <label><input type="checkbox" ng-model="view.expose" ng-change="exposeParams()"> expose</label>
        </div>
        <span class="input-key" title="{{ key }}">{{ key }}</span>
    </div>

    <div class="input-property-body">

        <input type="number" class="form-control" name="inputNumber" ng-model="model" ng-required="view.required" ng-disabled="isDisabled">

        <span ng-if="inputForm.inputNumber.$invalid" class="help-block">Please provide correct value</span>

    </div>

</div>