<div class="form-group"
     ng-hide="ignoreFiles && prop.items.type === 'file'"
     ng-class="{required: view.required, 'has-error': (view.required || model.length) && ((model.length < prop.minItems && prop.minItems > 0) || (model.length > prop.maxItems && prop.maxItems > 0))}">

    <label class="control-label">
        <div ng-if="exposed && prop.items.type !== 'file'" class="checkbox">
            <label><input type="checkbox" ng-model="view.expose" ng-change="exposeParams()"> expose</label>
        </div>
        <span class="input-key" title="{{ key }}">{{ key }}</span>
        <span ng-if="prop.minItems || prop.maxItems">
            (<strong ng-if="prop.minItems">min: {{ prop.minItems }} </strong>
            <strong ng-if="prop.maxItems">max: {{ prop.maxItems }}</strong>)
        </span>
    </label>

    <div class="input-property-body">
        <enum
             ng-model="model"
             type="prop.items.type"
             min="prop.minItems"
             max="prop.maxItems"
             properties="prop.items.properties"
             is-required="view.required"
             req="prop.items.required"
             exposible="{{ view.exposible }}"
             form="form">
        </enum>
    </div>

</div>