$fa-font-path: "../fonts/";
$gray: #f3f3f3;
//$orange: #f0ad4e;
$orange: #5986AA;
$green: #5cb85c;
$red: #d9534f;
$blue: #428bca;
$sidebar: 200px;
$dark-blue: #1A3852;
$sidebar-blue: #29567D;

$custom-gutter: 15px;

$brand-primary: #406D90;
$brand-success: #178022;
$brand-info: #77e6e0;
$brand-warning: #ff9823;
//$brand-danger: #ff2f3c;
