<div class="form-group" ng-class="{required: prop.required, 'has-error': inputForm.inputFile.$invalid}">
    <label class="control-label">
        {{ key }}
        <expression name="{{ key }}" type="input" arg="view.input.path" expression="view.expression"></expression>
    </label>

    <div class="input-property-body" ng-class="{split: view.expression.active}">
        <input ng-if="view.expression.active" type="text" class="form-control" ng-model="view.expression.arg">
        <input type="text" class="form-control" name="inputFile" ng-model="view.input.path" ng-required="prop.required" ng-readonly="view.expression.active">
    </div>
</div>