<div class="form-group" ng-class="{required: prop.required, 'has-error': inputForm.inputString.$invalid}">
    <label class="control-label">{{ key }}</label>

    <div class="input-property-body">
        <input ng-show="!prop.enum" type="text" class="form-control" name="inputString" ng-model="view.input" ng-required="prop.required">

        <select ng-show="prop.enum" class="form-control" name="inputString" ng-model="view.input" ng-required="prop.required">
            <option value>-- choose --</option>
            <option ng-repeat="option in prop.enum track by $index" value="{{ option }}">{{ (option === '') ? 'empty value' : option }}</option>
        </select>
    </div>
</div>