<div class="form-group" ng-class="{required: prop.required, 'has-error': inputForm.inputInteger.$invalid}">
    <label class="control-label">
        {{ key }}
        <expression name="{{ view.parent }}" type="input" arg="view.input" index="{{ view.index }}" expression="view.expression"></expression>
    </label>

    <div class="input-property-body" ng-class="{split: view.expression.active[view.index]}">

        <input ng-if="view.expression.active[view.index]" type="number" class="form-control" ng-model="view.arg">

        <input type="number" class="form-control" name="inputInteger" ng-model="view.input" ng-required="prop.required" ng-readonly="view.expression.active[view.index]">

    </div>

</div>