<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Add Output Property</h4>
</div>
<div class="modal-body">

    <form ng-submit="addProperty()" name="view.form" novalidate>

        <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="view.name" required>
                </div>
            </div>
            <!-- END Name -->

            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.type.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="type">Type</label>
                    <select class="form-control" id="type" name="type" ng-model="view.property.type" required>
                        <option value="file">file</option>
                        <option value="directory">directory</option>
                        <option value="array">array</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="glob">Glob</label>
                    <input type="text" class="form-control" id="glob" name="glob" ng-model="view.property.adapter.glob">
                </div>
            </div>
            <div class="col-md-3" ng-if="view.property.type === 'file'">
                <div class="form-group">
                    <label class="control-label empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.property.adapter.streamable"> Streamable</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="view.property.type === 'array'">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="item-min" class="control-label">Min</label>
                    <input type="number" class="form-control" id="item-min" name="itemMin" ng-model="view.property.minItems" min="0">
                </div>
            </div>
            <!-- END Min -->

            <div class="col-md-3">
                <div class="form-group">
                    <label for="item-max" class="control-label">Max</label>
                    <input type="number" class="form-control" id="item-max" name="itemMax" ng-model="view.property.maxItems" min="0">
                </div>
            </div>
            <!-- END Max -->

            <div class="col-md-3">
                <div class="form-group">
                    <label for="item-type" class="control-label">Item Type</label>

                    <select class="form-control" id="item-type" name="itemType" ng-model="view.property.items.type">
                        <option value>-- choose --</option>
                        <option value="file">file</option>
                        <option value="directory">directory</option>
                    </select>
                </div>
            </div>
            <!-- END Item Type -->

            <div class="col-md-2" ng-if="view.property.items.type === 'file'">
                <div class="form-group">
                    <label class="control-label empty-label">&nbsp;</label>
                    <div class="checkbox no-margin">
                        <label><input type="checkbox" ng-model="view.property.adapter.listStreamable"> Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Item Streamable -->

        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Meta</label>

                <div class="form-group">
                    <label for="meta-inherit" class="control-label inline">Inherit</label>
                    <select class="form-control inline" id="meta-inherit" name="meta-inherit" ng-model="view.property.adapter.inherit" ng-options="key for key in view.inputs">
                        <option value>-- choose --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="enum-list-wrap">
                    <a href ng-click="addMeta()" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>
                    <div class="enum-list-container">
                        <ul class="enum-list" ng-class="{wide: view.property.adapter.meta.length === 1}">
                            <li ng-repeat="meta in view.property.adapter.meta track by $index">
                                <div class="enum-field form-group form-group-file with-expression">
                                    <div class="row no-margin">
                                        <div class="col-md-6 no-padding">
                                            <input type="text" class="form-control" ng-model="meta.key" placeholder="key"/>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="meta.value" placeholder="value"/>
                                        </div>
                                    </div>
                                </div>
                                <a href ng-hide="view.property.adapter.meta.length === 1" class="fa fa-remove remove-btn" ng-click="removeMeta($index)"></a>
                            </li>
                        </ul>
                        <p ng-if="view.property.adapter.meta.length === 0" class="alert alert-info">Click + on the left to add meta data</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END meta data-->

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Index Files</label>
                <enum ng-model="view.property.adapter.indexFiles" type="'string'"></enum>
            </div>
        </div>
        <!-- END index files -->

        <div class="form-group main-actions">
            <a href class="btn btn-warning" ng-click="cancel()">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>