<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Add Input Property</h4>
</div>
<div class="modal-body">

    <form ng-submit="addProperty()" name="view.form" novalidate>

        <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="view.name" required>
                </div>
            </div>
            <!-- END Name -->

            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.type.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="type">Type</label>
                    <select class="form-control" id="type" name="type" ng-model="view.property.type" required>
                        <option value="file">file</option>
                        <option value="string">string</option>
                        <option value="integer">integer</option>
                        <option value="array">array</option>
                        <option value="boolean">boolean</option>
                    </select>
                </div>
            </div>
            <!-- END Type -->

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="prefix">Prefix</label>
                    <input type="text" class="form-control" id="prefix" name="prefix" ng-model="view.property.adapter.prefix">
                </div>
            </div>
            <!-- END Prefix -->

            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.separator.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="separator">Separator</label>
                    <select class="form-control" id="separator" name="separator" ng-model="view.property.adapter.separator" required>
                        <option value="">empty string</option>
                        <option value="_">space</option>
                        <option value="=">=</option>
                    </select>
                </div>
            </div>
            <!-- END Separator -->
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="transform">Transform</label>
                    <select class="form-control" id="transform" name="transform" ng-model="view.property.adapter.transform" ng-options="transform for transform in options.platformFeatures">
                        <option value="">-- none --</option>
                    </select>
                </div>
            </div>
            <!-- END Transform -->

            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (view.form.order.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="order">Order</label>
                    <input type="number" class="form-control" id="order" name="order" ng-model="view.property.adapter.order">
                </div>
            </div>
            <!-- END Order -->

            <div class="col-md-4">
                <div class="form-group" ng-if="view.property.type === 'string'">
                    <label class="empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.isEnum" ng-change="toggleEnum()"> Enum</label>
                    </div>
                </div>
            </div>
            <!-- END Eum -->

            <div class="col-md-4" ng-if="view.property.type === 'file'">
                <div class="form-group">
                    <label class="empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.property.adapter.streamable"> Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Streamable -->

        </div>

        <div class="row" ng-if="view.property.type === 'array'">

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.min.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="min" class="control-label">Min</label>
                    <input type="number" class="form-control" id="min" name="min" ng-model="view.property.minItems" min="0">
                </div>
            </div>
            <!-- END Min -->

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.max.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="max" class="control-label">Max</label>
                    <input type="number" class="form-control" id="max" name="max" ng-model="view.property.maxItems" min="0">
                </div>
            </div>
            <!-- END Max -->

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="item-type" class="control-label">Item Type</label>

                    <select class="form-control" id="item-type" name="itemType" ng-model="view.property.items.type">
                        <option value="">-- choose --</option>
                        <option value="string">string</option>
                        <option value="number">number</option>
                        <option value="file">file</option>
                    </select>
                </div>
            </div>
            <!-- END Item Type -->

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="item-separator" class="control-label">Item Separator</label>

                    <select class="form-control" id="item-separator" name="itemSeparator" ng-model="view.property.adapter.listSeparator">
                        <option value="">-- choose --</option>
                        <option value=",">,</option>
                        <option value=";">;</option>
                        <option value="_">space</option>
                        <option value="repeat">repeat</option>
                    </select>
                </div>
            </div>
            <!-- END Item Separator -->

        </div>

        <div class="row" ng-if="view.property.type === 'array' && view.property.items.type === 'file'">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="item-transform" class="control-label">Item Transform</label>
                    <select class="form-control" id="item-transform" name="item-transform" ng-model="view.property.adapter.listTransform" ng-options="transform for transform in options.platformFeatures">
                        <option value="">-- none --</option>
                    </select>
                </div>
            </div>
            <!-- END Transform -->

            <div class="col-md-4">
                <div class="form-group">
                    <label class="empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.property.adapter.streamable"> Item Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Item Streamable -->
        </div>

        <div class="row" ng-if="view.isEnum">
            <div class="col-md-12">
                <enum ng-model="view.property.enum" type="string" min="1" is-required="true"></enum>
            </div>
        </div>


        <div class="form-group main-actions">
            <a href class="btn btn-warning" ng-click="cancel()">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>