<div class="app-actions-wrap">

    <div class="app-action-btns">
        <button ng-disabled="view.publishing" class="app-publish-btn btn btn-primary" ng-click="publishApp()">
            <i class="glyphicon glyphicon-plus"></i>
            Publish the App
        </button>
        <button class="app-publish-btn btn btn-default" ng-click="getAppsList()">
            <i class="glyphicon glyphicon-import"></i>
            Import the App
        </button>
    </div>

    <p ng-if="view.error">{{ view.error }}</p>
</div>