<div class="app-actions-wrap">

    <div class="app-action-btns">
        <button ng-if="view.canSave" ng-disabled="view.saving" class="app-save-btn btn btn-default" ng-click="saveApp()">
            <i class="fa fa-check"></i> Save
        </button>
        <button ng-disabled="view.saving" class="app-publish-btn btn btn-primary" ng-click="publishApp()">
            <i class="fa fa-plus"></i> Publish
        </button>
        <label><i class="fa fa-cloud-download"></i> Import</label>
        <button class="app-publish-btn btn btn-default btn-sm" ng-click="getAppsList()">App</button>
        <button class="app-publish-btn btn btn-default btn-sm" ng-click="loadJsonEditor()">JSON</button>
    </div>

    <p ng-if="view.error">{{ view.error }}</p>
</div>