<div class="app-actions-wrap">

    <div class="app-action-btns">
        <button ng-if="view.canSave" ng-disabled="view.saving" class="app-save-btn btn btn-default" ng-click="saveApp()">
            <i class="glyphicon glyphicon-ok"></i> Save
        </button>
        <button ng-disabled="view.saving" class="app-publish-btn btn btn-primary" ng-click="publishApp()">
            <i class="glyphicon glyphicon-plus"></i> Publish
        </button>
        <button class="app-publish-btn btn btn-default" ng-click="getAppsList()">
            <i class="glyphicon glyphicon-import"></i> Import
        </button>
    </div>

    <p ng-if="view.error">{{ view.error }}</p>
</div>