<div class="argument-wrap" ng-class="{active: active}">

    <legend class="legend-tiny toggle" ng-class="{active: active}" ng-click="toggleArgument()">
        arg{{ name }}
        <span class="remove" ng-click="removeItem($event)">&times;</span>
    </legend>

    <div class="property-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="argument-valuefrom-{{ view.uniqueId }}" class="control-label">Value From</label>
                    <select
                            class="form-control"
                            id="argument-valuefrom-{{ view.uniqueId }}"
                            name="{{ name }}-valuefrom"
                            ng-change="changeValueFrom()"
                            ng-model="arg.valueFrom"
                            ng-options="key as key for (key, value) in valuesFrom">
                        <option value>-- none --</option>
                    </select>
                </div>
            </div>
            <!-- END Value From -->

            <div class="col-md-2">
                <div class="form-group">
                    <label for="argument-prefix-{{ view.uniqueId }}" class="control-label">Prefix</label>
                    <input type="text" class="form-control" id="argument-prefix-{{ view.uniqueId }}" name="{{ name }}-prefix" ng-model="arg.prefix">
                </div>
            </div>
            <!-- END Prefix -->

            <div class="col-md-2">
                <div class="form-group">
                    <label for="argument-separator-{{ view.uniqueId }}" class="control-label">Separator</label>
                    <select class="form-control" id="argument-separator-{{ view.uniqueId }}" name="{{ name }}-separator" ng-model="arg.separator">
                        <option value="">empty string</option>
                        <option value="_">space</option>
                        <option value="=">=</option>
                    </select>
                </div>
            </div>
            <!-- END Separator -->

            <div class="col-md-2">
                <div class="form-group">
                    <label for="argument-value-{{ view.uniqueId }}" class="control-label">Value</label>
                    <input type="text" class="form-control" id="argument-value-{{ view.uniqueId }}" name="{{ name }}-value" ng-model="arg.value">
                </div>
            </div>
            <!-- END Value -->

            <div class="col-md-2">
                <div class="form-group">
                    <label for="argument-order-{{ view.uniqueId }}" class="control-label">Order</label>
                    <input type="number" class="form-control" id="argument-order-{{ view.uniqueId }}" name="{{ name }}-order" ng-model="arg.order">
                </div>
            </div>
            <!-- END Order -->

        </div>
    </div>

</div>