<div class="enum-list-wrap">

    <a href ng-click="addItem()" class="btn btn-default add-enum-item" ng-class="{disabled: max && view.list.length >= max}"><i class="glyphicon glyphicon-plus"></i></a>

    <div class="enum-list-container">
        <ul class="enum-list" ng-class="{wide: min && view.list.length <= min}">
            <li ng-repeat="item in view.list track by $index">

                <ng-include src="view.tplPath"></ng-include>

                <a href ng-hide="min && view.list.length <= min" class="glyphicon glyphicon-remove remove-btn" ng-click="removeItem($index)"></a>
            </li>
        </ul>
        <p ng-if="view.list.length === 0" class="alert alert-info">Click + on the left to add some elements</p>
    </div>

</div>