<div class="modal-body">

    <form ng-submit="evaluateExpr()" class="evaluate-expr-form center-block">

        <div class="form-group">
            <p class="expr alert alert-info">{{ view.expression.code }}</p>
        </div>

        <div class="form-group">
            <label class="control-label">Argument</label>
            <input type="text" class="form-control" ng-model="form.arg" ng-if="!form.isArray" />
            <input ng-if="form.isArray" ng-repeat="arg in form.arg track by $index" type="{{ view.itemType }}" class="form-control" ng-model="arg.value" />
        </div>

        <div class="form-group main-actions">
            <a href class="btn btn-warning" ng-click="cancel()">Cancel</a>
            <button type="submit" class="btn btn-primary">Evaluate</button>
        </div>
    </form>

</div>