<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" name="{{ name }}-path" ng-model="file.path" placeholder="Path" required>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" name="{{ name }}-size" ng-model="file.size" placeholder="Size" required>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" name="{{ name }}-checksum" ng-model="file.checksum" placeholder="Checksum" required>
    </div>
</div>