<div class="property-wrap" ng-class="{active: active}">

    <legend class="legend-tiny toggle" ng-class="{active: active}" ng-click="toggleProperty()">

        <div class="property-name" ng-hide="view.edit">
            <span>{{ name }}</span>
            <a href ng-click="toggleEdit($event)"><i class="glyphicon glyphicon-edit"></i></a>
        </div>

        <div class="property-name-form" ng-show="view.edit">
            <div class="input-group" ng-class="{'has-error': view.error}">
                <input type="text" class="form-control" name="name" ng-model="view.name" ng-click="stopPropagation($event)" ng-keypress="changeName($event)" placeholder="property name" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="changeName($event)"><i class="glyphicon glyphicon-ok"></i></button>
                    <button class="btn btn-default" ng-click="toggleEdit($event)"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>
        </div>

        <div class="checkbox"><label><input type="checkbox" ng-model="prop.required"> required</label></div>
        <span class="remove" ng-click="removeItem($event)">&times;</span>
    </legend>

    <div class="property-body">
        <div class="row">

            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (form[name+'-type'].$invalid && form[name].$dirty)}" title="Type">
                    <label for="property-input-type-{{ view.uniqueId }}" class="control-label">Type</label>
                    <select class="form-control" id="property-input-type-{{ view.uniqueId }}" name="{{ name }}-type" ng-model="prop.type">
                        <option value="file">file</option>
                        <option value="string">string</option>
                        <option value="integer">integer</option>
                        <option value="array">array</option>
                        <option value="boolean">boolean</option>
                    </select>
                </div>
            </div>
            <!-- END Type -->

            <div class="col-md-1">
                <div class="form-group" title="Prefix">
                    <label for="property-prefix-{{ view.uniqueId }}" class="control-label">Prefix</label>
                    <input type="text" class="form-control" id="property-prefix-{{ view.uniqueId }}" name="{{ name }}-prefix" ng-model="prop.adapter.prefix" ng-disabled="view.disabled">
                </div>
            </div>
            <!-- END Prefix -->

            <div class="col-md-2">
                <div class="form-group" title="Separator">
                    <label for="property-separator-{{ view.uniqueId }}" class="control-label">Separator</label>
                    <select class="form-control" id="property-separator-{{ view.uniqueId }}" name="{{ name }}-separator" ng-model="prop.adapter.separator" ng-disabled="view.disabled">
                        <option value="">empty string</option>
                        <option value="_">space</option>
                        <option value="=">=</option>
                    </select>
                </div>
            </div>
            <!-- END Separator -->

            <div class="col-md-2">
                <div class="form-group" title="Transform">
                    <label for="property-transform-{{ view.uniqueId }}" class="control-label">Transform</label>
                    <select class="form-control" id="property-transform-{{ view.uniqueId }}" name="{{ name }}-transform" ng-model="prop.adapter.transform" ng-options="transform for transform in transforms" ng-disabled="view.disabled">
                        <option value="">-- none --</option>
                    </select>
                </div>
            </div>
            <!-- END Transform -->

            <div class="col-md-2">
                <div class="form-group" title="Order">
                    <label for="property-order-{{ view.uniqueId }}" class="control-label">Order</label>
                    <input type="number" class="form-control" id="property-order-{{ view.uniqueId }}" name="{{ name }}-order" ng-model="prop.adapter.order">
                </div>
            </div>
            <!-- END Order -->

            <div class="col-md-2" ng-if="prop.type === 'string'">
                <div class="form-group">
                    <label class="control-label empty-label">&nbsp;</label>
                    <div class="checkbox no-margin">
                        <label><input type="checkbox" ng-model="view.isEnum" ng-change="toggleEnum()"> Enum</label>
                    </div>
                </div>
            </div>
            <!-- END Enum -->

            <div class="col-md-2" ng-if="prop.type === 'file'">
                <div class="form-group">
                    <label class="control-label empty-label">&nbsp;</label>
                    <div class="checkbox no-margin">
                        <label><input type="checkbox" ng-model="prop.adapter.streamable"> Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Streamable -->

        </div>

        <div class="row" ng-if="prop.type === 'array'">

            <div class="col-md-2">
                <div class="form-group" title="Min">
                    <label for="property-item-min-{{ view.uniqueId }}" class="control-label">Min</label>
                    <input type="number" class="form-control" id="property-item-min-{{ view.uniqueId }}" name="{{ name }}-item-min" ng-model="prop.minItems" min="0">
                </div>
            </div>
            <!-- END Min -->

            <div class="col-md-2">
                <div class="form-group" title="Max">
                    <label for="property-item-max-{{ view.uniqueId }}" class="control-label">Max</label>
                    <input type="number" class="form-control" id="property-item-max-{{ view.uniqueId }}" name="{{ name }}-item-max" ng-model="prop.maxItems" min="0">
                </div>
            </div>
            <!-- END Max -->

            <div class="col-md-2">
                <div class="form-group" title="Item Type">
                    <label for="property-item-type-{{ view.uniqueId }}" class="control-label">Item Type</label>

                    <select class="form-control" id="property-item-type-{{ view.uniqueId }}" name="{{ name }}-item-type" ng-model="prop.items.type">
                        <option value="">-- choose --</option>
                        <option value="string">string</option>
                        <option value="number">number</option>
                        <option value="file">file</option>
                        <option value="object">object</option>
                    </select>
                </div>
            </div>
            <!-- END Item Type -->

            <div class="col-md-2">
                <div class="form-group" title="Item Separator">
                    <label for="property-item-separator-{{ view.uniqueId }}" class="control-label">Item Separator</label>

                    <select class="form-control" id="property-item-separator-{{ view.uniqueId }}" name="{{ name }}-item-separator" ng-model="prop.adapter.listSeparator" ng-disabled="view.disabled">
                        <option value="">-- choose --</option>
                        <option value=",">,</option>
                        <option value=";">;</option>
                        <option value="_">space</option>
                        <option value="repeat">repeat</option>
                    </select>
                </div>
            </div>
            <!-- END Item Separator -->

            <div class="col-md-2" ng-if="prop.items.type === 'file'">
                <div class="form-group" title="Transform">
                    <label for="property-item-transform-{{ view.uniqueId }}" class="control-label">Transform</label>
                    <select class="form-control" id="property-item-transform-{{ view.uniqueId }}" name="{{ name }}-item-transform" ng-model="prop.adapter.listTransform" ng-options="transform for transform in transforms">
                        <option value="">-- none --</option>
                    </select>
                </div>
            </div>
            <!-- END Transform -->

            <div class="col-md-2" ng-if="prop.items.type === 'file'">
                <div class="form-group">
                    <label class="control-label empty-label">&nbsp;</label>
                    <div class="checkbox no-margin">
                        <label><input type="checkbox" ng-model="prop.adapter.listStreamable"> Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Item Streamable -->

        </div>

        <div class="row" ng-if="view.isEnum">
            <div class="col-md-12">
                <enum ng-model="prop.enum" type="string" min="1" is-required="true"></enum>
            </div>
        </div>

        <div class="row" ng-if="prop.type === 'object'">
            <div class="col-md-12">
                <legend class="legend-small toggle" ng-class="{active: view.propsExpanded}" ng-click="toggleProperties()">
                    Properties
                    <add-property
                            type="input"
                            properties="prop.properties"
                            platform-features="platformFeatures"
                            values-from="valuesFrom">
                    </add-property>
                </legend>
                <property-input
                        ng-repeat="(key, property) in prop.properties"
                        ng-model="property"
                        active="view.active[key]"
                        name="{{ key }}"
                        form="form"
                        inputs="inputs[name]"
                        properties="prop.properties"
                        transforms="transforms">
                </property-input>
                <p class="alert alert-info" ng-if="prop.properties | isEmpty">There are no properties at this moment.</p>
            </div>
        </div>

        <div class="row" ng-if="prop.type === 'array' && prop.items.type === 'object'">
            <div class="col-md-12">
                <legend class="legend-small toggle" ng-class="{active: view.propsExpanded}" ng-click="toggleProperties()">
                    Properties
                    <add-property
                            type="input"
                            properties="prop.items.properties"
                            platform-features="platformFeatures"
                            values-from="valuesFrom">
                    </add-property>
                </legend>
                <property-input
                        ng-repeat="(key, property) in prop.items.properties"
                        ng-model="property"
                        active="view.active[key]"
                        name="{{ key }}"
                        form="form"
                        inputs="inputs[name]"
                        properties="prop.items.properties"
                        transforms="transforms">
                </property-input>
                <p class="alert alert-info" ng-if="prop.items.properties | isEmpty">There are no properties at this moment.</p>
            </div>
        </div>

    </div>

</div>