<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{ ::data.softwareDescription.name || 'Untitled' }}</strong></h4>
</div>
<div class="modal-body">
    <p><strong>Author:</strong> {{ ::data.documentAuthor || 'N/A' }}</p>
    <div>
        <strong>Description{{ ::data.softwareDescription.description.length ? '' : ':'}}</strong>
        <span ng-if="!data.softwareDescription.description.length">N/A</span>
        <div class="form-group" ng-class="{ 'format': data.softwareDescription.description.length}">
            <div class="markdown-body" marked="data.softwareDescription.description"></div>
        </div>
    </div>
</div>