<div class="content content-ten">

    <div class="form-group col-md-12">
        <label class="control-label">Base Cmd</label>

        <div class="enum-list-wrap">
            <a href ng-click="addBaseCmd()" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>
            <div class="enum-list-container">
                <ul class="enum-list" ng-class="{wide: view.tool.cliAdapter.baseCmd.length === 1}">
                    <li ng-repeat="baseCmd in view.tool.cliAdapter.baseCmd track by $index">
                        <div class="enum-field form-group form-group-file">
                            <expr ng-model="baseCmd" index="{{ $index }}" handle-item-update="updateCliAdapter(value, index, 'baseCmd')"></expr>
                        </div>
                        <a href ng-hide="view.tool.cliAdapter.baseCmd.length === 1" class="fa fa-remove remove-btn" ng-click="removeBaseCmd($index)"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- # Base Cmd-->

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">StdIn</label>
                <expr ng-model="view.tool.cliAdapter.stdin" handle-item-update="updateCliAdapter(value, null, 'stdin')"></expr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">StdOut</label>
                <expr ng-model="view.tool.cliAdapter.stdout" handle-item-update="updateCliAdapter(value, null, 'stdout')"></expr>
            </div>
        </div>
    </div>
    <!-- # StdIn and StdOut-->

    <legend class="legend-small">
        Arguments
        <add-property
                type="arg"
                handler="generateCommand()"
                properties="view.tool.cliAdapter.argAdapters">
        </add-property>
    </legend>

    <property-arg
            ng-repeat="arg in view.tool.cliAdapter.argAdapters | orderBy:sortByPosition track by $index"
            ng-model="arg"
            index="{{ $index }}">
    </property-arg>

    <p class="alert alert-info" ng-if="view.tool.cliAdapter.argAdapters | isEmpty">There are no arguments at this moment.</p>

</div>