<div class="row">
    <div class="col-md-12">
        <div class="form-group form-group-email required" ng-class="{'has-error': (forms.toolForm.documentAuthor.$invalid && forms.toolForm.$dirty)}">
            <label for="documentAuthor" class="control-label">Document Author</label>
            <input type="email" class="form-control" id="documentAuthor" name="documentAuthor" ng-model="view.toolForm.documentAuthor" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group required" ng-class="{'has-error': (forms.toolForm.appName.$invalid && forms.toolForm.$dirty)}">
            <label for="appName" class="control-label">App Name</label>
            <input type="text" class="form-control" id="appName" name="appName" ng-model="view.toolForm.softwareDescription.name" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="appDescription" class="control-label">App Description</label>
            <textarea class="form-control" id="appDescription" name="appDescription" ng-model="view.toolForm.softwareDescription.description"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group required" ng-class="{'has-error': (forms.toolForm.repoOwner.$invalid && forms.toolForm.$dirty)}">
            <label for="repoOwner" class="control-label">Repo Owner</label>
            <input type="text" class="form-control" id="repoOwner" name="repoOwner" ng-model="view.toolForm.softwareDescription.repo_owner" readonly required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group required" ng-class="{'has-error': (forms.toolForm.repoName.$invalid && forms.toolForm.$dirty)}">
            <label for="repoName" class="control-label">Repo Name</label>

            <div ng-class="{'input-group': view.mode === 'edit' && view.user}">
                <input type="text" class="form-control" id="repoName" name="repoName" ng-model="view.toolForm.softwareDescription.repo_name" ng-readonly="view.app._id" required>
                <span ng-if="view.mode === 'edit' && view.user" class="input-group-btn">
                    <button ng-disabled="view.saving" ng-click="fork()" class="btn btn-default"><i class="fa fa-code-fork"></i></button>
                </span>
            </div>

        </div>
    </div>
</div>

<legend class="legend-small">Environment</legend>

<div class="row">
    <div class="col-md-4">
        <div class="form-group" ng-class="{'has-error': (forms.toolForm.RECtype.$invalid && forms.toolForm.$dirty)}">
            <label for="type" class="control-label">Type</label>
            <select class="form-control" id="type" name="RECtype" ng-model="view.toolForm.requirements.environment.container.type">
                <option value="docker">docker</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group required" ng-class="{'has-error': (forms.toolForm.RECuri.$invalid && forms.toolForm.$dirty)}">
            <label for="uri" class="control-label">Docker Repo[#tag]</label>
            <input type="text" class="form-control" id="uri" name="RECuri" ng-model="view.toolForm.requirements.environment.container.uri" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group required" ng-class="{'has-error': (forms.toolForm.RECimageId.$invalid && forms.toolForm.$dirty)}">
            <label for="uri" class="control-label">Image Id</label>
            <input type="text" class="form-control" id="imageId" name="RECimageId" ng-model="view.toolForm.requirements.environment.container.imageId" required>
        </div>
    </div>
</div>

<!-- END Requirements -> Environment -->

<legend class="legend-small">Resources</legend>

<div class="row">
    <div class="col-md-3">
        <div class="form-group required with-expression" ng-class="{'has-error': (forms.toolForm.RRcpu.$invalid && forms.toolForm.$dirty)}">
            <label class="control-label">CPU</label>
            <expr ng-model="view.toolForm.requirements.resources.cpu" type="number" handle-item-update="updateResource(value, 'cpu')"></expr>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group required with-expression" ng-class="{'has-error': (forms.toolForm.RRmem.$invalid && forms.toolForm.$dirty)}">
            <label class="control-label">Memory</label>
            <expr ng-model="view.toolForm.requirements.resources.mem" type="number" handle-item-update="updateResource(value, 'mem')"></expr>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group required with-expression" ng-class="{'has-error': (forms.toolForm.RRdiskSpace.$invalid && forms.toolForm.$dirty)}">
            <label class="control-label">Disk Space</label>
            <expr ng-model="view.toolForm.requirements.resources.diskSpace" type="number" handle-item-update="updateResource(value, 'diskSpace')"></expr>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label empty-label">&nbsp;</label>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="view.toolForm.requirements.resources.network"> Network</label>
            </div>
        </div>
    </div>
</div>

<!-- END Requirements -> Resources -->