<div class="content content-ten">

    <div ng-if="view.type === 'script'" class="section">
        <legend class="legend-small">Script</legend>

        <div class="form-group">
            <textarea class="form-control script-area" name="transform" ng-model="view.tool.transform.value"></textarea>
        </div>
    </div>

    <div ng-if="view.type === 'tool'">
        <legend class="legend-small">Tool</legend>

        <form class="row-margin section">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="label" class="control-label">Label</label>
                    <input class="form-control" id="label" name="label" type="text"/>
                </div>

                <div class="form-group">
                    <label for="toolkit" class="control-label">Toolkit</label>
                    <input class="form-control" id="toolkit" type="text"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="toolkit-version">Toolkit Version</label>
                    <input class="form-control" id="toolkit-version" type="text"/>
                </div>

                <div class="form-group">
                    <label for="homepage" class="control-label">Homepage</label>
                    <input class="form-control" id="homepage" type="text"/>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <textarea class="form-control" name="category" id="category" cols="30" rows="4"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <label for="description" class="control-label">Description</label>
                <textarea name="description" id="description" cols="30" rows="15" class="form-control"></textarea>
            </div>

        </form>



    </div>


</div>