<div class="content">

    <legend class="legend-small">
        Properties
        <help-message message="help.cliche.inputs.properties"></help-message>
    </legend>

    <div class="enum-list-wrap">
        <add-property
                type="input"
                key="@id"
                tool-type="{{ view.type }}"
                properties="view.tool.inputs"
                inputs="view.job.inputs"
                class="add-enum-item large">
        </add-property>
        <div class="enum-list-container">
            <property-input
                    ng-repeat="property in view.tool.inputs | orderBy:sortByPosition track by property['@id']"
                    ng-model="property"
                    key="@id"
                    type="{{ view.type }}"
                    inputs="view.job.inputs"
                    properties="view.tool.inputs">
            </property-input>

            <p class="alert alert-info large" ng-if="view.tool.inputs.length === 0">There are no inputs at this moment.</p>
        </div>
    </div>
</div>