<div class="content">
    <legend class="legend-small" ng-class="{active: view.propsExpanded.inputs, toggle: view.type === 'tool'}" ng-click="toggleProperties('inputs')">
        Properties
        <add-property
                type="input"
                tool-type="{{ view.type }}"
                properties="view.toolForm.inputs.properties"
                req="view.toolForm.inputs.required"
                handler="updateInputs()">
        </add-property>
    </legend>

    <property-input
            ng-repeat="(key, property) in view.toolForm.inputs.properties"
            ng-model="property"
            active="view.active.inputs[key]"
            name="{{ key }}"
            type="{{ view.type }}"
            inputs="view.jobForm.inputs"
            properties="view.toolForm.inputs.properties"
            req="view.toolForm.inputs.required"
            handler="updateInputs()">
    </property-input>

    <p class="alert alert-info" ng-if="view.toolForm.inputs.properties | isEmpty">There are no inputs at this moment.</p>
</div>


