<div class="content">
    <legend class="legend-small toggle" ng-class="{active: view.propsExpanded.outputs}" ng-click="toggleProperties('outputs')">
        Properties
        <add-property
                type="output"
                open-on-keypress="true"
                properties="view.toolForm.outputs.properties"
                req="view.toolForm.outputs.required">
        </add-property>
    </legend>

    <property-output
            ng-repeat="property in view.list.outputs.part track by $index"
            ng-model="property.obj"
            active="view.active.outputs[property.key]"
            name="{{ property.key }}"
            properties="view.toolForm.outputs.properties"
            req="view.toolForm.outputs.required">
    </property-output>

    <p class="alert alert-info" ng-if="view.toolForm.outputs.properties | isEmpty">There are no outputs at this moment.</p>
</div>

<paginator page="view.page.outputs" total="view.total.outputs" per-page="10" handler="getMore('outputs', offset)"></paginator>

