<div class="content">

    <legend class="legend-small">
        Output Ports
        <help-message message="help.cliche.inputs.properties"></help-message>
    </legend>

    <div class="enum-list-wrap">
        <add-property
                type="output"
                key="@id"
                tool-type="{{ view.type }}"
                properties="view.tool.outputs"
                class="add-enum-item large">
        </add-property>

        <div class="enum-list-container">
            <property-output
                    ng-repeat="property in view.tool.outputs track by property['@id']"
                    ng-model="property"
                    key="@id"
                    type="{{ view.type }}"
                    properties="view.tool.outputs">
            </property-output>

            <p class="alert alert-info large" ng-if="view.tool.outputs.length === 0">Click the plus button to add output ports.</p>
        </div>
    </div>
</div>


