<div class="content content-tbl flex-box-column">

    <ng-form class="form flex-box-column flex-one" name="forms.jobForm" role="form" novalidate>

        <div class="section top flex-auto">
            <div class="input-property">
                <div class="form-group">
                    <label class="control-label">Allocated Resources</label>

                    <div class="input-property-body">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': form.job.arCpu.$invalid}">
                                <label class="control-label">CPU</label>
                                <input type="{{ view.reqCpuRequirement.value.value ? 'text' : 'number' }}"
                                       class="form-control"
                                       name="arCpu"
                                       ng-model="view.job.allocatedResources.cpu"
                                       ng-readonly="view.reqCpuRequirement.value.value"
                                       min="{{ view.reqCpuRequirement.value.value ? 0 : view.reqCpuRequirement.value }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': form.job.arMem.$invalid}">
                                <label class="control-label">Memory</label>
                                <input type="{{ view.reqMemRequirement.value.value ? 'text' : 'number' }}"
                                       class="form-control"
                                       name="arMem"
                                       ng-model="view.job.allocatedResources.mem"
                                       ng-readonly="view.reqMemRequirement.value.value"
                                       min="{{ view.reqMemRequirement.value.value ? 0 : view.reqMemRequirement.value }}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <h4>Inputs</h4>
        </div>
        <!-- # .section -->

        <div class="section bottom flex-box-column flex-one">

            <div class="content content-ten">
                <div class="input-container">

                    <input-field
                            ng-repeat="property in view.tool.inputs | orderBy:sortByPosition track by property['@id']"
                            ng-model="view.job.inputs[property['@id'].slice(1)]"
                            class="input-field"
                            key="@id"
                            prop="property"
                            form="form.job">
                    </input-field>

                </div>

                <p class="alert alert-info" ng-if="view.tool.inputs.length === 0">There are no values to be set at this moment.</p>
            </div>

        </div>
        <!-- # .section -->

    </ng-form>

</div>

