<div class="content content-tbl flex-box-column">

    <ng-form class="form flex-box-column flex-one" name="forms.jobForm" role="form" novalidate>

        <div class="section top flex-auto">
            <div class="input-property">
                <div class="form-group">
                    <label class="control-label">Allocated Resources</label>
                    <div class="input-property-body">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': forms.jobForm.arCpu.$invalid}">
                                <label class="control-label">CPU</label>
                                <input type="{{ view.toolForm.requirements.resources.cpu.$expr ? 'text' : 'number' }}"
                                       class="form-control"
                                       name="arCpu"
                                       ng-model="view.jobForm.allocatedResources.cpu"
                                       ng-readonly="view.toolForm.requirements.resources.cpu.$expr"
                                       min="{{ view.toolForm.requirements.resources.cpu.$expr ? 0 : view.toolForm.requirements.resources.cpu }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': forms.jobForm.arMem.$invalid}">
                                <label class="control-label">Memory</label>
                                <input type="{{ view.toolForm.requirements.resources.mem.$expr ? 'text' : 'number' }}"
                                       class="form-control"
                                       name="arMem"
                                       ng-model="view.jobForm.allocatedResources.mem"
                                       ng-readonly="view.toolForm.requirements.resources.mem.$expr"
                                       min="{{ view.toolForm.requirements.resources.mem.$expr ? 0 : view.toolForm.requirements.resources.mem }}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <h4>Inputs</h4>
        </div>
        <!-- # .section -->

        <div class="section bottom flex-box-column flex-one">

            <div class="input-container">

                <input-field
                        ng-repeat="(key, property) in view.toolForm.inputs.properties"
                        ng-model="view.jobForm.inputs[key]"
                        class="input-field"
                        key="{{ key }}"
                        prop="property"
                        index="{{ $index }}"
                        form="form.jobForm">
                </input-field>

            </div>

            <p class="alert alert-info" ng-if="view.toolForm.inputs.properties | isEmpty">There are no values to be set at this moment.</p>

        </div>
        <!-- # .section -->

    </ng-form>

</div>

