.page {
  &.cliche {
    & > .content {
      padding: 0;
      @include flex-box();
    }

    .col {
//      @include flex-box();
//      @include flex-flow(column nowrap);

//      & > .heading {
//        padding: 0;
//        @include flex(0 0 auto);
//      }

      & > .content {
//        padding: 0;
//        @include flex(1);
//        @include flex-box();
//        @include flex-flow(column nowrap);

        & > .tabs {
          @include flex(1);
          @include flex-box();
          @include flex-flow(column nowrap);

          & > .tab {
            @include flex(1);
            @include flex-box();
            @include flex-flow(column nowrap);
            .json-trace,
            .console-trace {
              @include flex(1);
              @include flex-box();
              @include flex-flow(column nowrap);
              pre {
                overflow-y: auto;
                @include flex(1);
                @include scrollBar($orange);
              }
            }
          }
        }
      }

    }

    @for $num from 1 through 12 {
      .col-md-#{$num} {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.tabs {
  .row {
    margin: 0 !important;
  }
  &.left {
    padding: 10px;
  }
  &.right {
    .tab {
      position: relative;
      /* ZeroClipboard box */
      .zclip {
        .btn {
          position: absolute;
          bottom: 5px;
          left: 5px;
        }
        p {
          @extend %trace-box;
        }
      }
    }
  }
}

/* Saving indicator */
.saving {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  @include border-radius(2px 0 0 0);
  @include transition(opacity 0.3s ease);
  &.show {
    opacity: 1;
  }
}

/* App/Job actions box (save, publish, import) */
.app-actions-wrap,
.job-actions-wrap {
  .app-action-btns,
  .job-action-btns {
    position: absolute;
    bottom: 5px;
    right: 15px;
    @media (max-width: 600px) {
      button {
        width: 40px;
        padding: 6px 0;
        i {
          width: 40px;
          margin: 0 auto;
        }
      }
    }
  }
  p {
    position: absolute;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -50px;
    color: #ff0000;
    border: 1px solid #cc0000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  label {
    color: #fff;
    margin: 0 10px;
  }
}

/* App listing in modal (for the import) */
.app-list {
  margin: 10px 0;
  max-height: 456px;
  overflow: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1px 0;
  @include scrollBar($blue);

  & > li {
    cursor: pointer;
    border-bottom: 1px solid #ddd;

    & > .app-list-item {
      overflow: auto;
      & > span {
        padding: 7px 10px;
      }
    }

    &.selected {
      & > .app-list-item {
        background-color: $blue;
        color: #fff;
        a {
          color: #fff;
        }
      }
    }

    &.disabled {
      & > .app-list-item {
        cursor: auto;
        color: #ccc;
      }
    }

    & > .app-list-item {
      & > span {
        display: inline-block;
        .glyphicon {
          color: #eee;
          margin: 10px;
        }
      }
      & > a {
        float: right;
        margin: 7px 10px;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .app-list {
      margin: 0 0 0 10px;
      border-bottom: none;
    }
  }
}

.meta-list {
  margin-bottom: 10px;
}

.json-url {
  font-size: 16px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  &:hover {
    text-decoration: none !important;
  }
}

%trace-box {
  position: absolute;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -50px;
  color: $orange;
  border: 1px solid $orange;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* Remove button for the box */
.remove-btn {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  color: #555;
  padding: 6px 8px;
  background-color: #ddd;
  @include border-radius(15px);

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #666;
  }
}

/* Property/Argument box */
.property-wrap,
.argument-wrap {
  margin: 0 0 10px 0;
  border: 1px solid #ddd;

  &:hover {
    @include transition(border 0.3s ease);
    border: 1px solid #bbb;

    & > .legend-tiny {
      background-color: #ddd;
    }
    & > .property-body {
      background-color: #f3f3f3;
    }

    &.active {
      & > .legend-tiny {
        border-bottom: 1px solid #bbb;
      }
    }
  }

  &.active {
    & > .legend-tiny {
      border-bottom: 1px solid #ddd;
    }
    & > .property-body {
      display: block;
    }
  }

  & > .legend-tiny {
    padding: 5px 30px 5px 25px;
    margin: 0;
    position: relative;
    overflow: auto;

    .checkbox {
      display: inline-block;
      margin: 5px 10px 0 5px;
      float: right;
    }

    .remove {
      position: absolute;
      right: 0;
      top: 50%;
      line-height: 15px;
      font-size: 25px;
      padding: 8px;
      color: #666;
      margin-top: -15px;
      &:hover {
        color: #333;
      }
    }
  }

  & > .property-body {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    & > .row {
      margin-left: 0;
      margin-right: 0;
      & > div {
        padding: 0 5px;
      }
    }
    .control-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }

  .checkbox {
    &.no-margin {
      margin: 5px 0;
    }
  }

  .property-name {
    margin: 5px 0;
    float: left;
    a {
      padding: 10px 5px;
      color: #555;
    }
  }
  .property-name-form {
    font-weight: normal;
    width: 240px;
    float: left;
    .input-group {
      margin-left: -5px;
      input {
        height: 30px;
        padding: 5px;
      }
      button {
        padding: 4px 8px;
      }
    }
    .alert {
      padding: 5px;
    }
  }
}

/* Argument box */
.argument-wrap {
  & > .legend-tiny {
    overflow: hidden;
  }
}

/* Input box */
.input-property {

  & > .form-group {
    margin: 0 0 10px 0;
    border: 1px solid #ddd;

    &:hover {
      @include transition(border 0.3s ease);
      border: 1px solid #bbb;

      & > .control-label {
        border-bottom: 1px solid #bbb;
        background-color: #ddd;
      }
      & > .input-property-body {
        background-color: #f3f3f3;
      }
    }

    & > .control-label {
      padding: 5px 10px;
      margin: 0;
      position: relative;
      border-bottom: 1px solid #ddd;
      display: block;
      background-color: #eee;
      position: relative;
    }

    & > .input-property-body {
      padding: 10px;
      background-color: #f9f9f9;
      overflow: auto;

      &.split {
        & > .form-control {
          display: inline-block;
          &:nth-child(1) {
            width: 40%;
          }
          &:nth-child(2) {
            margin-left: -5px;
            width: 60%;
          }
        }
      }
    }

  }
}

.expression-action {
  margin: 0;
  color: #555;
  label {
    float: right;
  }
}

.evaluate-wrap {
  float: right;
  .btn {
    padding: 0 5px;
  }
}

.expression-form {
  margin-bottom: 10px;
  .form-group {
    margin-right: 10px;
    .control-label {
      margin-right: 10px;
    }
    .form-control {
      width: 100px;
    }
  }
}

.evaluate-expr-form {
  width: 200px;
  .form-group {
    .expr {
      font-size: 20px;
      padding: 10px;
      font-weight: bold;
    }
  }
}

/* Modal main actions (cancel, ok and so on) */
.main-actions {
  overflow: auto;
  padding: 10px 0;
  margin: 10px 0 0 0;
}

/* Json / Command box */
pre.json-trace,
.json-trace pre,
pre.console-trace,
.console-trace pre,
pre.result  {
  background-color: #222;
  border-color: $orange;
  color: $orange;
  margin: 0;
  border-top: none;
  margin-top: -1px;
  padding-bottom: 40px;
  @include box-shadow(none);
  @include border-radius(0);

  &.error {
    color: #ff0000;
    border: 1px solid #cc0000;
  }
}

pre.result {
  padding: 20px;
}

/* Command box */
.console-trace {
  font-size: 20px;
  &.wait {
    &:after {
      content: 'please wait...';
      display: block;
      @extend %trace-box;
    }
  }
}