/* NAVIGATION
================================================ */

.navigation {
  background-color: $sidebar-blue;
  @extend .flex-box-row;
  @extend .flex-auto;
  
  & > div {
    width: 100%;
    @extend .flex-box-row;
  }

  width: 100%;
  color: #fff;

  /* logo and sidebar toggle */
  .logo-wrap{
    padding: 0 15px 0 43px;
    background: url('../../rbx/images/logo.png') no-repeat 15px;
    background-size: 21px 28px;
    height: 53px;
    margin-right: 28px;
  }

  .logo {
    font-size: 22px;
    position: relative;

    top: 6px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px $dark-blue;

    small {
      font-size: 10px;
      position: relative;
      left: 28px;
      top: -6px;
      display: block;
      color: #f3f3f3;
      text-shadow: none;
    }


    .toggle-sidebar {
      display: inline-block;
      color: #fff;
      padding: 0px 19px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: $sidebar-blue;
    }
  }

  /* user actions like login and logout */
  .actions {
    position: relative;
    align-self: center;
    width: 100px;
    margin-left: auto;

    .user-details {

      .welcome {
        width: 100%;
        height: 100%;
        img {
          border-radius: 50%;
        }
      }
    }

    .log-out-btn {
      display: inline-block;
      vertical-align: middle;
    }

    .log-out-btn {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      margin: 0 5px 0 0;
      text-shadow: 1px 1px 1px $dark-blue;
      float: right;
      line-height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;

      &:hover {
        color: #f3f3f3;
        text-decoration: none;
      }
    }

    .log-in-btn {
      text-align: left;
      i {
        font-size: 20px;
        float: left;
        margin: 0 10px 0 20px;
      }
    }
  }

  .nav-tabs {
    border-bottom: none;

    li {
      margin-bottom: 0;

      a {
        white-space: nowrap;
        font-size: 16px;
        margin-right: 0px;
        text-shadow: 1px 1px 1px $dark-blue;
        color: $orange;
        padding: 15px;

        &:focus, &:hover {
          text-shadow: 1px 1px 1px #fff;
          color: darken($orange, 20%);
          i {
            color: darken($orange, 20%);
          }
        }

        &.dyole,
        &.cliche {
          span {
            text-transform: none;
          }
        }

        span {
          text-transform: capitalize;
        }

        i {
          color: #fff;
          width: 12px;
          margin-right: 10px;
          font-size: 20px;
          text-align: center;
        }

      }
      & + li {
        margin-top: 0px;
      }

      a {
        border-left: 1px solid lighten($sidebar-blue, 10%);
      }

      &.active {
        a, a:hover, a:focus {
          text-shadow: 1px 1px 1px #fff;
          span, i {
            color: #555;
          }
        }
      }
    }
  }
}