/* NAVIGATION
================================================ */
$header-hover-color: darken($sidebar-blue, 5%);

@mixin navigation-hover() {
  &:hover, &:active, &:focus {
    background-color: $header-hover-color;
    color: #fff;
    border-color: transparent;
  }
  @include transition(background-color .3s, color .3s);
}

.navigation {
  background-color: $sidebar-blue;
  @extend .flex-box-row;
  @extend .flex-auto;
  
  & > div {
    width: 100%;
    @extend .flex-box-row;
  }

  width: 100%;
  color: #fff;

  /* logo and sidebar toggle */
  .logo-wrap{
    background: url('../../rbx/images/logo.png') no-repeat 17px;
    background-size: 21px 28px;

    @include navigation-hover();
  }

  .logo {
    display: block;
    padding: 6px 50px 2px; // hacky magic numbers so the link will fill the wrap
    float: left;
    position: relative;
    color: #fff;

    font-size: 22px;
    text-decoration: none;
    text-shadow: 2px 2px 2px $dark-blue;

    small {
      font-size: 10px;
      position: relative;
      left: 28px;
      top: -6px;
      display: block;
      color: #f3f3f3;
      text-shadow: none;
    }
  }

  /* user actions like login and logout */
  .actions {
    position: relative;
    align-self: center;
    width: 100px;
    margin-left: auto;

    .user-details {

      .welcome {
        width: 100%;
        height: 100%;
        img {
          border-radius: 50%;
        }
      }
    }

    .log-out-btn {
      display: inline-block;
      vertical-align: middle;
    }

    .log-out-btn {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      margin: 0 5px 0 0;
      text-shadow: 1px 1px 1px $dark-blue;
      float: right;
      line-height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;

      &:hover {
        color: #f3f3f3;
        text-decoration: none;
      }
    }

    .log-in-btn {
      text-align: left;
      i {
        font-size: 20px;
        float: left;
        margin: 0 10px 0 20px;
      }
    }
  }

  .nav-tabs { // top navigation items in header
    border: none;

    li {

      a {
        white-space: nowrap;
        font-size: 16px;
        margin-right: 0px;
        text-shadow: 1px 1px 1px $dark-blue;
        color: $orange;
        padding: 15px;
        text-transform: capitalize;

        @include navigation-hover();

        i {
          color: #fff;
          width: 12px;
          margin-right: 10px;
          font-size: 20px;
        }
      }

      &.active {
        a, a:hover, a:focus {
          text-shadow: 1px 1px 1px #fff;
          span, i {
            color: #555;
          }
        }
      }
    }
  }
}