/* TWITTER OVERRIDES OVERRIDES
================================================ */

.nav-tabs {
  li {
    a {
      @include border-radius(0);
    }
    &.active {
      a,
      a:focus,
      a:hover {
        color: #555;
        background-color: $gray;
        background-image: url(../images/bg.png);
        border-bottom-color: $gray;
        cursor: pointer;
      }
    }

  }

  &.nav-tabs-steps,
  &.nav-tabs-trace {
    border-bottom: none;
    text-align: center;
    li {
      margin-bottom: 0;
      float: none;
      display: inline-block;
      vertical-align: middle;
      
      a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 5px 10px;
        margin: 0;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &.active {
        a,
        a:focus,
        a:hover {
          background: $orange;
          color: #fff;
          text-shadow: 1px 1px 1px #222;
          border: none;
        }
      }

      &.toggle-action {
        width: auto !important;
        float: left;
        a {
          color: #555;
        }
      }
    }
  }

  &.nav-tabs-steps {
    li {
      width: 15%;
    }
  }

  &.nav-tabs-trace {
    li {
      width: 30%;
    }
  }
}

.nav-pills {
  &.nav-page {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    li {
      a {
        padding: 6px 12px;
        border: 1px solid transparent;
        font-size: 14px;
      }
      &.active {
        a,
        a:focus,
        a:hover {
          color: #555;
          background-color: #fff;
          border: 1px solid #ddd;
          cursor: pointer;
        }
      }
    }
  }
}

.form-group {
  &.required {
    & > .control-label {
      position: relative;
      &:after {
        content: '*';
        display: inline-block;
        color: #D9534F;
        padding: 0 5px;
      }
    }
  }
}

form, .form {
  .form-control {
    color: #555;
    height: 33px;
    @include border-radius(0);
  }
  input {
    &.form-control {
      &:read-only {
        cursor: text;
        background-color: #fff;
      }
    }
  }
  textarea {
    resize: none;
  }
  .form-group {
    position: relative;
    &.meta-group {
      margin: 0;
      .btn {
        width: 41px;
      }
    }
    &.unit {
      &:after {
        content: 'KB';
        position: absolute;
        top: 6px;
        right: 6px;
        color: #999;
      }
      .form-control {
        padding-right: 30px;
      }
    }
    .checkboxes {
      .checkbox {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin: 0 0 5px 0;
        + .checkbox {
          margin-top: 0px;
        }
      }
    }
    &.form-group-email {
      input[type=email] {
        padding-left: 60px;
      }
      &:before {
        content: 'mailto:';
        display: inline-block;
        color: #aaa;
        position: absolute;
        bottom: 7px;
        left: 7px;
      }
    }
  }
}

.form-control {
  color: #555;
  @include border-radius(0);
}

.help-block {
  margin: 0;
  font-size: 12px;
}

.alert {
  @include border-radius(0);
}

.btn {
  @include border-radius(0);
  &.btn-orange {
    background-color: $orange;
    color: #fff;
    cursor: pointer;
    &:active, &:focus {
      color: #fff;
    }
  }
  &:active, &:focus {
    outline: none;
  }

  &.btn-flush {
    font-size: 20px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    color: #555;
    padding: 1px 10px;

    &.btn-flush-cliche {
      background-color: transparent;
    }

    &.btn-flush-pipeline {
      background-color: #fff;
    }

    &:active, &:focus {
      outline: none;
      @include box-shadow(none);
    }
  }
}

.input-group {
  &.input-group-lg {
    .form-control {
      @include border-radius(0);
    }
    .btn {
      @include border-radius(0);
    }
  }
}

.panel {
  .panel-heading, .panel-body {
    @include border-radius(0);
  }
}

.table {
  thead {
    tr {
      background-image: url(../images/bg.png);
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      th {
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
      }
    }
  }
  tbody {
    tr {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      td {
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
        .version {
          color: #555;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &.table-hover {
    tbody {
      tr {
        &:hover {
          //background-image: url(../images/bg.png);
          background-color: #fcfcfc;
          td {
            background-color: transparent;
          }
          &.empty {
            background-image: none;
            border-left-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }
  }
}

pre {
  background-color: #f2f2f2;
}

.center-block {
  text-align: center;
}

label {
  &.empty-label {
    @media (max-width: 600px) {
      height: 0;
      float: left;
    }
  }
}

legend {
  &.legend-small {
    font-size: 16px;
    margin-bottom: 5px;

    .btn {
      padding: 1px 7px;
      line-height: 20px;
      margin: 3px;
      font-size: 12px;
    }
  }
  &.legend-r {
    text-align: right;
  }
  &.legend-tiny {
    font-size: 14px;
    font-weight: bold;
    border-bottom: none;
    margin: 0 0 5px 0;
    background-color: #eee;
    padding: 2px 5px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal {
  &.modal-prop {
    .modal-dialog {
      .main-actions {
        text-align: right;
        margin: 10px -15px -15px;
        border-top: 1px solid #ddd;
        padding: 10px;
      }
    }
  }
}

.modal-content {
  @include border-radius(0);
}

.modal-header {
  .close {
    margin-top: 0;
  }
}

.modal-body {
  &.alert {
    margin: 0;
    .messages {
      margin-bottom: 20px;
    }
  }
}

.codemirror {
  .CodeMirror {
    margin-bottom: 10px;
    border: 1px solid #f0ad4e;
  }

  .result {
    margin-bottom: 10px;
  }
}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.inline {
  display: inline-block !important;
  width: auto !important;
  vertical-align: middle;
  margin-right: 10px;
}

[draggable] {
  @include user-select(none);
}

.preload {
  img {
    display: none;
  }
}
