@import "main/main";

html, body {
  height: 100%;
  overflow-x: hidden;
}

// firefox hack for fixing content overflow in flexbox containers.
* {
  min-height: 0;
}

body {
  color: #555;
  background-color: $gray;
  background-image: url('/rbx/images/bg.png');
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0;
  height: 100%;
  @extend .flex-box-column;
}

.main {
  @include flex-box();
  @extend .flex-one;
}

@import "helpers/helpers";
@import "ui/ui";

@import "common";
@import "components/components";
@import "navigation";
@import "loader";
@import "error";
@import "elements";
@import "cliche";

/* PAGE
================================================ */
.page {
  position: relative;
  background-color: #fff;
  @extend .flex-box-column;
  @extend .flex-one;

  .content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    @extend %scrollbar;
    @extend .flex-one;
    @extend .flex-box-column;

    &.content-tbl {
      padding: 0;
    }

    &.content-mix {
      padding-top: 0;
    }

    .markdown-body {
      overflow: initial;
      @extend .flex-auto;
    }

//    &.content-ten {
//      padding: 20px;
//    }
  }
  
  /* Home page */
  &.home {
    .log-in-btn {
      width: 300px;
      margin: 20px auto;
      display: block;
    }
    .subscribe {
      @include flex-box();
      text-align: center;
      margin-top: 20px;
      align-self: center;

      input {
        height: 100%;
      }

      .alert {
        width: 400px;
        margin: 5px auto;
        padding: 5px;
      }
      .input-group {
        width: 400px;
        margin: 0 auto;
      }
    }
  }

  /* Repo page */
  &.repo {

    .nav-tabs {
      position: relative;
      z-index: 1;
      border-bottom: none;
      @extend .flex-auto;
    }

    .tab.tab-tbl {
      margin-top: -1px;
      border-top: 1px solid #ddd;
    }
  }

  /* Workflow Editor page */
  &.workflow-edit {
    & > .content {
      overflow-x: hidden;
      @extend .flex-box-row;
      @extend .flex-one;
    }

    .sidebar-col {
      width: 350px;

      .filter {
        min-width: 150px;
        .form-control {
          border: {
            left: none;
            top: none;
          }
        }
      }
    }

    .nav-tabs {
      &.nav-tabs-steps {
        li {
          width: 42%;
        }
      }
    }
  }

}

@import "tables";
@import "overrides/overrides";


