@import "variables";
@import "bootstrap";
@import "mixins";

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #555;
  background-color: $gray;
  background-image: url(../images/bg.png);
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0;
  height: 100%;
  @include flex-box();
}

.main {
  height: 100%;
  @include flex(1);
}

@import "sidebar";
@import "loader";
@import "error";
@import "elements";
@import "cliche";

/* PAGE
================================================ */
.page {
  position: relative;
  background-color: #fff;
  height: 100%;
  @include flex-box();
  @include flex-flow(column nowrap);

  h1 {
    margin: 0;
    padding: 13px 0 13px 90px;
    font-size: 26px;
    font-weight: normal;

    &.main-title {
      padding-left: 0;
    }

    .label-status {
      font-size: 18px;
      padding: 6px 20px 8px 7px;
      font-weight: normal;
      @include border-radius(16px 4px 4px 16px);
    }

    .label {
      font-size: 14px;
    }

    & > span {
      &:first-child {
        max-width: 75%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    & > span,
    & > span > i {
      display: inline-block;
      vertical-align: middle;
      i {
        &.running {
          @include animation(rotate 1.2s infinite linear);
        }
      }
      span {
        margin-left: 5px;
      }
    }

    .checkbox {
      font-weight: normal;
      font-size: 14px;
    }

    .form-group {
      width: 200px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

    .actions {
      & > .btn,
      & > .btn-group,
      & > .fa {
        margin-left: 10px;
        vertical-align: middle;
      }
    }

    .version {
      font-size: 13px;
      background-color: #555;
      color: #fff;
      padding: 3px 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 17px;
      @include border-radius(4px);

      &:hover {
        text-decoration: none;
      }
      
      &.revision {
        background-color: $orange;
        margin-right: 10px;
      }
    }
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
  }

  .content {
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    @include scrollBar($orange);
    @include flex(1);
  }

  /* Builds page */
  &.builds {
    .content {
      padding-top: 0;
    }
  }

  /* Build page */
  &.build {
    .heading {
      margin: 0;
    }
    .content {
      padding: 20px 10px 0;
    }
  }

  /* Repos page */
  &.repos {
    .add-github {
      background-image: url(../images/icon-github.png);
      background-repeat: no-repeat;
      background-position: center left 6px;
      padding-left: 30px;
    }
    .content {
      padding-top: 0;
    }
  }

  /* Add Your GitHub Repo */
  &.add-your-github-repo {
    .icon-added {
      color: $green;
      float: right;
      padding: 7px 12px;
    }
    .heading {
      margin: 0;
    }
    .content {
      padding-top: 0;
    }
  }

  /* Repo instructions page */
  &.repo-instructions {
    .content {
      padding: 20px 10px 0;
    }
  }

  /* Settings page */
  &.settings {
    .content {
      padding: 0px 10px 0;
    }
  }

  /* Home page */
  &.home {
    .content {
      padding: 20px 10px 0;
    }
    .log-in-btn {
      width: 300px;
      margin: 20px auto;
      display: block;
    }
    .subscribe {
      text-align: center;
      .alert {
        width: 400px;
        margin: 5px auto;
        padding: 5px;
      }
      .input-group {
        width: 400px;
        margin: 0 auto;
      }
    }
  }

  /* Apps page */
  &.apps {
    .content {
      padding-top: 0;
    }
  }

  /* App page */
  &.app {
    .heading {
      margin: 0;
    }
    & > .content {
      padding: 0px 10px;
      @include flex-box();
      @include flex-flow(column nowrap);
    }
    section {
      table {
        thead {
          tr {
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }

  /* Repo page */
  &.repo {
    .created-by {
      font-size: 15px;
    }
    & > .content {
      @include flex-box();
      @include flex-flow(column nowrap);
      padding: 20px 10px 0;

      .content-top {
        @include flex(0 0 auto);
      }
      .tabs {
        @include flex(1);
        @include flex-box();
        @include flex-flow(column nowrap);

        & > .nav-tabs {
          position: relative;
          z-index: 1;
          border-bottom: none;
          @include flex(0 0 auto);
        }

        & > section {
          margin-top: -1px;
          border-top: 1px solid #ddd;
        }
      }
    }
  }

  /* App and Repo page */
  &.app,
  &.repo {
    section {
      &.revisions,
      &.apps,
      &.workflows,
      &.builds {
        margin: 0 -10px;
        @include flex(1);
        @include flex-box();
        @include flex-flow(column nowrap);
        & > .content {
          padding: 0;
          @include flex(1);
        }
      }
    }
  }

  /* Revision page */
  &.revision {
    .content {
      padding: 0px 10px;
    }
  }

  /* Jobs page */
  &.jobs {
    .content {
      padding-top: 0;
    }
  }

  /* Pipelines page */
  &.pipelines {
    .content {
      padding-top: 0;
    }
  }

  /* Pipeline View page */
  &.pipeline-view {
    .content {
      padding: 0px;
      @include flex-box();
      @include flex-flow(column nowrap);
      & > .tab {
        &.info, &.revisions {
          margin: 0;
          @include flex(1);
          @include flex-box();
          @include flex-flow(column nowrap);
        }
        &.description,
        &.revisions {
          padding: 0 10px;
          & > .content {
            padding: 0;
            @include flex(1);
          }
        }
      }
    }
  }

  /* Pipeline Editor page */
  &.pipeline-edit {
    & > .content {
      padding: 0;
      overflow-x: hidden;
      @include flex-box();
    }

    .sidebar-col {
      width: 350px;

      .filter {
        min-width: 150px;
        .form-control {
          border: {
            left: none;
            top: none;
          }
        }
      }
    }

    .nav-tabs {
      &.nav-tabs-steps {
        li {
          width: 30%;
        }
      }
    }
  }

  .table {
    margin: 0;
    td {
      vertical-align: middle;
      p {
        margin: 0;
        &:not(.alert) {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          float: left;
        }
        &.alert {
          padding: 15px;
        }
      }
      a {
        &:not(.btn) {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          white-space: nowrap;
          i {
            color: #555;
          }
        }
      }
      &.revision {
        text-align: center;
      }
      .github-flag {
        font-size: 20px;
      }
    }
    .status {
      width: 20px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      padding: 0;
      @include border-radius(7.5px);

      &.success {
        color: $green;
      }
      &.running {
        color: $blue;
        @include animation(rotate 1.2s infinite linear);
      }
      &.failure {
        color: $red;
      }
      &.pending {
        color: $orange;
      }
    }
    /* Apps table */
    &.apps {
      th {
        &:nth-child(1),
        &:nth-child(2) { width: 15%; }
        &:nth-child(3) { width: 50%; }
        &:nth-child(4) { width: 20%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
    }

    /* Pipelines table */
    &.pipelines {
      th {
        &:nth-child(1),
        &:nth-child(2) { width: 40%; }
        &:nth-child(4) { width: 20%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
    }

    &.app-revisions,
    &.pipeline-revisions {
      th {
        &:nth-child(1),
        &:nth-child(2) { width: 15%; }
        &:nth-child(3) { width: 50%; }
      }
    }

    /* Revisions table */
    &.revisions {
      th {
        &:nth-child(1) {
          text-align: center;
          width: 10%;
        }
        &:nth-child(2) { width: 50%; }
        &:nth-child(3) { width: 40%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
      &.revisions-short {
        th {
          &:nth-child(2) {
            width: 40%;
            text-align: left;
          }
        }
      }
    }

    /* Builds table */
    &.builds {
      th {
        &.field-status,
        &.field-id { width: 5%; }
        &.field-message { width: 30%; }
        &.field-commit,
        &.field-committer,
        &.field-repo,
        &.field-date { width: 15%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
        &.field-commit {
          a {
            width: 100px;
          }
        }
        &.field-id {
          a {
            width: 50px;
          }
        }
      }
    }
    /* Repos table */
    &.repos {
      th {
        &:nth-child(1) { width: 20%; }
        &:nth-child(2) { width: 20%; }
        &:nth-child(3) { width: 40%; }
        &:nth-child(4) { width: 10%; }
        &:nth-child(4) { width: 10%; }
      }
      td {
        p {
          &:not(.alert) {
            max-width: 500px;
          }
        }
      }
    }

    .inner-table {

      .inner-table-body {
        display: none;
      }

      &.active {
        .inner-table-body {
          display: block;
        }
        & > td {
          border-top: 1px solid #ddd;
        }
      }

      &:hover {
        background-image: none;
      }
      &:last-child {
        border-bottom: 1px solid #ddd;
      }
      & > td {
        padding: 0 0 0 30px;
        background-image: url(../images/bg.png);
        border-top: none;
        .table {
          border-left: 2px solid #ddd;
          th {
            padding: 1px 8px;
          }
          td {
            padding: 5px 8px;
          }
        }
      }
      .empty {
        td {
          padding: 0 !important;
          .alert {
            padding: 8px 10px;
          }
        }
      }
    }
  }
}


@mixin rotate-rule($prefix: '') {
  0% {
    #{$prefix}transform: rotate(0deg);
  }
  100% {
    #{$prefix}transform: rotate(359deg);
  }
}

@keyframes rotate {
  @include rotate-rule();
}
@-webkit-keyframes rotate {
  @include rotate-rule(-webkit-);
}
@-moz-keyframes rotate {
  @include rotate-rule(-moz-);
}
@-o-keyframes anim-rotate {
  @include rotate-rule(-o-);
}
@-ms-keyframes rotate {
  @include rotate-rule(-ms-);
}

div.pipeline-editor {
  @include user-select(none);
}

@import "overrides";
