<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Pick tool/workflow from the list</h4>
</div>
<div class="modal-body no-padding">

    <div class="tabs flex-box-column" ng-class="{loading: view.loading}">

        <div class="nav nav-tabs flex-auto">
            <li ng-class="{active: view.tab === 'tools'}" class=""><a href ng-click="switchTab('tools')">Tools</a></li>
            <li ng-class="{active: view.tab === 'scripts'}" class=""><a href ng-click="switchTab('scripts')">Scripts</a></li>
            <li ng-class="{active: view.tab === 'workflows'}" class=""><a href ng-click="switchTab('workflows')">Workflows</a></li>
            <li class="form-li">
                <form class="search-form" ng-submit="searchApps()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search tools" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </li>
        </div>

        <section ng-show="view.tab === 'tools'" class="tab tools flex-box-column flex-one">
            <div class="content flex-one">
                <table class="table table-hover apps">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Repo</th>
                        <th>Description</th>
                        <th class="right">
                            <a href
                               class="btn btn-default btn-toggle"
                               tooltip="Toggle Versions"
                               tooltip-placement="left"
                               tooltip-append-to-body="true"
                               ng-click="toggleRevisions('tools')">
                                <i class="fa" ng-class="{'fa-chevron-right': !view.active.tools, 'fa-chevron-down': view.active.tools}"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="tool in view.tools">
                        <td>{{ ::tool.name }}</td>
                        <td>{{ ::tool.repo.owner }}/{{ ::tool.repo.name }}</td>
                        <td><p tooltip="{{ ::tool.description }}" tooltip-popup-delay="1000">{{ ::tool.description }}</p></td>
                        <td class="right">
                            <a href
                               class="btn btn-default btn-toggle"
                               tooltip="Toggle Versions ({{ ::tool.revisions.length }})"
                               tooltip-placement="left"
                               tooltip-append-to-body="true"
                               ng-click="toggleRevisions('tools', tool)">
                                {{ ::tool.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !tool.active, 'fa-chevron-down': tool.active}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="inner-table" ng-class="{active: tool.active}" ng-repeat-end>
                        <td colspan="4">
                            <div class="inner-table-body">
                                <table class="table table-hover app-revisions">
                                    <thead>
                                        <tr>
                                            <th>Versions</th>
                                            <th>&nbsp;</th>
                                            <th class="right">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="revision in ::tool.revisions">
                                            <td><span class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></span></td>
                                            <td><p tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p></td>
                                            <td class="right">
                                                <a href ng-click="pick(tool._id, revision, 'CommandLine')" class="btn btn-sm btn-default" tooltip="Pick"><i class="fa fa-check"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="empty" ng-if="tool.revisions.length === 0">
                                            <td colspan="4"><p class="alert alert-info">There are no public versions for this tool</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty" ng-if="view.tools.length === 0">
                        <td colspan="4"><p class="alert alert-info">There are no tools found</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paginator class="paginator" page="view.page.tools" total="view.total.tools" handler="getMoreTools(offset)"></paginator>
        </section>
        <!-- # .tools -->

        <section ng-show="view.tab === 'scripts'" class="tab scripts flex-box-column flex-one">
            <div class="content flex-one">
                <table class="table table-hover apps">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Repo</th>
                            <th>Description</th>
                            <th class="right">
                                <a href
                                   class="btn btn-default btn-toggle"
                                   tooltip="Toggle Versions"
                                   tooltip-placement="left"
                                   tooltip-append-to-body="true"
                                   ng-click="toggleRevisions('scripts')">
                                    <i class="fa" ng-class="{'fa-chevron-right': !view.active.scripts, 'fa-chevron-down': view.active.scripts}"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="script in view.scripts">
                            <td>{{ ::script.name }}</td>
                            <td>{{ ::script.repo.owner }}/{{ ::script.repo.name }}</td>
                            <td><p tooltip="{{ ::script.description }}" tooltip-popup-delay="1000">{{ ::script.description }}</p></td>
                            <td class="right">
                                <a href
                                   class="btn btn-default btn-toggle"
                                   tooltip="Toggle Versions ({{ ::script.revisions.length }})"
                                   tooltip-placement="left"
                                   tooltip-append-to-body="true"
                                   ng-click="toggleRevisions('scripts', script)">
                                    {{ ::script.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !script.active, 'fa-chevron-down': script.active}"></i>
                                </a>
                            </td>
                        </tr>
                        <tr class="inner-table" ng-class="{active: script.active}" ng-repeat-end>
                            <td colspan="4">
                                <div class="inner-table-body">
                                    <table class="table table-hover app-revisions">
                                        <thead>
                                        <tr>
                                            <th>Versions</th>
                                            <th>&nbsp;</th>
                                            <th class="right">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="revision in ::script.revisions">
                                            <td><span class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></span></td>
                                            <td><p tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p></td>
                                            <td class="right">
                                                <a href ng-click="pick(script._id, revision, 'Script')" class="btn btn-sm btn-default" tooltip="Pick"><i class="fa fa-check"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="empty" ng-if="tool.revisions.length === 0">
                                            <td colspan="4"><p class="alert alert-info">There are no public versions for this script</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="empty" ng-if="view.scripts.length === 0">
                            <td colspan="4"><p class="alert alert-info">There are no scripts found</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <paginator class="paginator" page="view.page.scripts" total="view.total.scripts" handler="getMoreScripts(offset)"></paginator>
        </section>
        <!-- # .scripts -->

        <section ng-show="view.tab === 'workflows'" class="tab workflows flex-box-column flex-one">
            <div class="content flex-one">
                <table class="table table-hover apps">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Repo</th>
                        <th>Description</th>
                        <th class="right">
                            <a href
                               class="btn btn-default btn-toggle"
                               tooltip="Toggle Versions"
                               tooltip-placement="left"
                               tooltip-append-to-body="true"
                               ng-click="toggleRevisions('workflows')">
                                <i class="fa" ng-class="{'fa-chevron-right': !view.active.workflow, 'fa-chevron-down': view.active.workflow}"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="workflow in view.workflows">
                        <td>{{ ::workflow.name }}</td>
                        <td>{{ ::workflow.repo.owner}}/{{ ::workflow.repo.name }}</p></td>
                        <td><p tooltip="{{ tool.description }}" tooltip-popup-delay="1000">{{ tool.description }}</p></td>
                        <td class="right">
                            <a href
                               class="btn btn-default btn-toggle"
                               tooltip="Toggle Versions ({{ ::workflow.revisions.length }})"
                               tooltip-placement="left"
                               tooltip-append-to-body="true"
                               ng-click="toggleRevisions('workflow', workflow)">
                                {{ ::workflow.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !workflow.active, 'fa-chevron-down': workflow.active}"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="inner-table" ng-class="{active: workflow.active}" ng-repeat-end>
                        <td colspan="4">
                            <div class="inner-table-body">
                                <table class="table table-hover pipeline-revisions">
                                    <thead>
                                        <tr>
                                            <th>Versions</th>
                                            <th>&nbsp;</th>
                                            <th class="right">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="revision in ::workflow.revisions">
                                            <td><span class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></span></td>
                                            <td><p tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p></td>
                                            <td class="right">
                                                <a href ng-click="pick(workflow._id, revision, 'Workflow')" class="btn btn-sm btn-default" tooltip="Pick"><i class="fa fa-check"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="empty" ng-if="workflow.revisions.length === 0">
                                            <td colspan="4"><p class="alert alert-info">There are no public versions for this workflow</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="empty" ng-if="view.workflows.length === 0">
                        <td colspan="4"><p class="alert alert-info">There are no workflows found</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paginator class="paginator" page="view.page.workflows" total="view.total.workflows" handler="getMoreWorkflows(offset)"></paginator>
        </section>
        <!-- # .workflows -->
    </div>

</div>