<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <div class="container">
            <a ng-href="#/apps" class="btn btn-default pull-left go-back"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
            <h1>{{ view.app.name }}</h1>
        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="container" height>

        <div class="description">
            <div class="panel panel-warning panel-app">
                <div class="panel-body">

                    <section>
                        <h5>Docker Image Details</h5>
                        <p><strong>Image Id:</strong> {{ view.app.json.requirements.environment.container.imageId }}</p>
                        <p><strong>Image Uri:</strong> {{ view.app.json.requirements.environment.container.uri }}</p>
                    </section>

                    <section>
                        <h5>App Details</h5>
                        <p>
                            <strong>Repo:</strong>
                            <a ng-if="view.app.repo_id && view.app.repo_owner && view.app.repo_name" ng-href="#/repo/{{ view.app.repo_id }}">{{ view.app.repo_owner }}/{{ view.app.repo_name }}</a>
                            <span ng-if="!view.app.repo_id">{{ view.app.repo_owner | repo:view.app.repo_name }}</span>
                        </p>
                    </section>

                    <section>
                        <h5>Author</h5>
                        <p><strong>Username:</strong> <a href="http://github.com/{{ view.app.user_id.github.login }}" target="_blank">{{ view.app.user_id.github.login }}</a> </p>
                        <p><strong>Name:</strong> {{ view.app.user_id.github.name }} </p>
                    </section>
                </div>
            </div>
            {{ !view.app.description ? 'This app doesn\'t have any description' : view.app.description }}
        </div>


        <div class="snippet">
            <p>Link to Amazon S3</p>
            <div><a class="s3-link" ng-href="{{ view.app.links.json }}" target="_blank">{{ view.app.links.json }}</a></div>
        </div>

        <div class="snippet">
            <p>Use this code snippet for your pipeline</p>
            <pre pretty-json="view.app.json"></pre>
        </div>

        <div class="snippet">
            <p>Use this command to run the app</p>
            <pre>$ rabix run "{{ view.app.links.app_ref }}"</pre>
        </div>

    </div>
    <!-- # .container -->
</div>