<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <a ng-href="#/apps" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <span>{{ view.app.name }} <span class="tool-repo">({{view.app.repo.owner}}/{{view.app.repo.name}})</span></span>
            <div ng-if="view.revisions.length > 0" class="nav nav-pills nav-page">
                <li ng-class="{active: view.tab === 'info'}"><a ng-href="#/app/{{ view.app._id }}">Info</a></li>
                <li ng-class="{active: view.tab === 'revisions'}"><a ng-href="#/app/{{ view.app._id }}/revisions">Revisions</a></li>
            </div>
            <div class="actions pull-right">
                <a ng-if="view.canDelete" href ng-click="deleteApp()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                <a ng-href="#/cliche/{{ view.app._id }}/latest" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </h1>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content">

        <section ng-if="view.tab === 'info'">

            <div class="description"><i>Description:</i> {{ !view.app.description ? 'This app doesn\'t have any description' : view.app.description }}</div>

            <div class="description">
                <div class="panel panel-warning panel-app horizontal">
                    <div class="panel-body">
                        <div class="row no-margin">

                            <section class="col-md-4">
                                <h5>Author</h5>
                                <p><strong>Username:</strong> <a href="http://github.com/{{ view.app.user.github.login }}" target="_blank">{{ view.app.user.github.login }}</a> </p>
                                <p><strong>Name:</strong> {{ view.app.user.github.name }} </p>
                            </section>

                            <section class="col-md-4">
                                <h5>Docker Image Details</h5>
                                <p><strong>Image Id:</strong> {{ view.app.json.requirements.environment.container.imageId }}</p>
                                <p><strong>Image Uri:</strong> <span copy="view.app.json.requirements.environment.container.uri"></span></p>
                            </section>

                            <section class="col-md-4">
                                <h5>App Details</h5>
                                <p><strong>Repo:</strong> <a ng-href="#/repo/{{ view.app.repo.id }}">{{ view.app.repo.owner }}/{{ view.app.repo.name }}</a></p>
                                <p><strong>Version:</strong> {{ view.app.c_version }}</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div class="snippet">
                <p>Use this command to run the app</p>
                <pre>$ rabix "<a href="/api/run/{{ view.app._id }}" target="_blank">http://rabix.org/api/run/{{ view.app._id }}</a>"</pre>
            </div>

            <div class="snippet" style="display: none;">
                <p>Use this code snippet for your pipeline</p>
                <pre pretty-json="view.app.json"></pre>
            </div>

        </section>

        <section ng-if="view.tab === 'revisions'">

            <table class="table table-hover revisions">
                <thead>
                    <tr>
                        <th>Revision</th>
                        <th>Version</th>
                        <th>Description</th>
                        <th class="right">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="revision in view.revisions">
                        <td class="revision">
                            <strong>{{ revision.order }}</strong>
                        </td>
                        <td class="revision">
                            <strong class="label label-primary" ng-if="revision.version"><i class="fa fa-tag"></i> {{ 'v' + revision.version }}</strong>
                            <i ng-if="!revision.version">Not published</i>

                        </td>
                        <td><p tooltip="{{ revision.description }}" tooltip-popup-delay="1000">{{ revision.description }}</p></td>
                        <td class="right">
                            <a class="btn btn-sm btn-default" tooltip="View Revision" ng-href="#/revision/{{ revision._id }}"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-sm btn-default" tooltip="Edit Revision" ng-href="#/cliche/{{ view.app._id }}/{{ revision._id }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="empty" ng-if="view.revisions.length === 0">
                        <td colspan="4"><p class="alert alert-info">There are no revisions for this app found</p></td>
                    </tr>
                </tbody>
            </table>

        </section>

    </div>
    <!-- # .content -->

    <div class="paginate" ng-if="!view.loading && view.tab === 'revisions' && view.revisions.length > 0">
        <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="fa fa-chevron-left"></i></button>
        <span class="page-number">{{ view.page }} / {{ view.total }}</span>
        <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="fa fa-chevron-right"></i></button>
    </div>
    <!-- # .paginate -->
</div>