<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchApps()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search tools" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <label class="checkbox" ng-show="view.user">
                    <input type="checkbox" ng-model="view.mine" ng-change="toggleMyApps()" /> Show only mine
                </label>
            </div>

            <div class="col-md-5">
                <a ng-href="#/cliche" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Tool</a>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content">
        <table class="table table-hover apps">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Repo</th>
                    <th>Description</th>
                    <th class="right">
                        <a href
                           class="btn btn-default"
                           tooltip="Toggle Revisions"
                           tooltip-placement="left"
                           tooltip-append-to-body="true"
                           ng-click="toggleRevisions()">
                           <i class="fa" ng-class="{'fa-chevron-down': !view.active, 'fa-chevron-up': view.active}"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="app in view.apps">
                    <td><a ng-href="#/app/{{ app._id }}">{{ app.name }}</a></td>
                    <td><a ng-href="#/repo/{{ app.repo._id }}">{{ app.repo.owner }}/{{ app.repo.name }}</a></td>
                    <td><p tooltip="{{ app.description }}" tooltip-popup-delay="1000">{{ app.description }}</p></td>
                    <td class="right">
                        <a class="btn btn-default" tooltip="Edit Tool" ng-href="#/cliche/{{ app._id }}/latest"><i class="fa fa-pencil"></i></a>
                        <a href
                           class="btn btn-default"
                           tooltip="Toggle Revisions ({{ app.revisions.length }})"
                           tooltip-placement="left"
                           tooltip-append-to-body="true"
                           ng-click="toggleRevisions(app)">
                            {{ app.revisions.length }} <i class="fa" ng-class="{'fa-chevron-down': !app.active, 'fa-chevron-up': app.active}"></i>
                        </a>
                    </td>
                </tr>
                <tr class="inner-table" ng-class="{active: app.active}" ng-repeat-end>
                    <td colspan="4">
                        <div class="inner-table-body">
                            <table class="table table-hover app-revisions">
                                <thead>
                                    <tr>
                                        <th>Revisions</th>
                                        <th>&nbsp;</th>
                                        <th class="right">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="revision in app.revisions">
                                        <td><a ng-href="#/revision/{{ revision._id }}" class="version"><strong><i class="fa fa-tag"></i> {{ 'v' + revision.version }}</strong></a></td>
                                        <td><p tooltip="{{ revision.description }}" tooltip-popup-delay="1000">{{ revision.description }}</p></td>
                                        <td class="right">
                                            <a class="btn btn-sm btn-default" tooltip="Edit Revision" ng-href="#/cliche/{{ app._id }}/{{ revision._id }}"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="empty" ng-if="app.revisions.length === 0">
                                        <td colspan="4"><p class="alert alert-info">There are no public revisions for this tool</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.apps.length === 0">
                    <td colspan="4"><p class="alert alert-info">There are no tools found</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <paginator page="view.page" total="view.total" handler="getMoreApps(offset)"></paginator>

</div>