<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchApps()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search apps" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <label class="checkbox" ng-show="view.user">
                    <input type="checkbox" ng-model="view.mine" ng-change="toggleMyApps()" /> Show only mine
                </label>
            </div>

            <div class="col-md-5">
                <a ng-href="#/cliche" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New App</a>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content">
        <table class="table table-hover apps">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Repo</th>
                    <th>Description</th>
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in view.apps">
                    <td><a ng-href="#/app/{{ app._id }}">{{ app.name }}</a></td>
                    <td>
                        <a ng-href="#/repo/{{ app.repo._id }}">{{ app.repo.owner }}/{{ app.repo.name }}</a>
                    </td>
                    <td><p tooltip="{{ app.description }}" tooltip-popup-delay="1000">{{ app.description }}</p></td>
                    <td class="center">
                        <a class="btn btn-default" tooltip="Edit App" ng-href="#/cliche/{{ app._id }}/latest"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-default" ng-if="app.user === view.user.id" tooltip="Delete App" ng-click="deleteApp(app)"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.apps.length === 0">
                    <td colspan="4"><p class="alert alert-info">There are no apps found</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <div class="paginate" ng-if="!view.loading && view.apps.length !== 0">
        <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="fa fa-chevron-left"></i></button>
        <span class="page-number">{{ view.page }} / {{ view.total }}</span>
        <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="fa fa-chevron-right"></i></button>
    </div>
    <!-- # .paginate -->

</div>