<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <h1 class="main-title">Reproducible Analyses for Bioinformatics</h1>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content">

        <p>Rabix is an open-source toolkit for developing tools and workflows for the <a target="_blank" href="https://github.com/common-workflow-language/common-workflow-language">common-workflow-language</a> specification.</p>

        <p>
            CWL is an informal task force consisting of people from various organizations that have an interest in portability of bioinformatics workflows.
            The goal is to specify a way to describe bioinformatics tools and workflows that is powerful, easy to use and allows for portability of tools/workflows
            and reproducibility of runs. Join the <a target="_blank" href="https://groups.google.com/forum/#!forum/common-workflow-language">mailing list</a> if interested in contributing!
        </p>

        <p>Rabix is based on the <a target="_blank" href="https://github.com/common-workflow-language/common-workflow-language/blob/draft-1/specification/tool-description.md">draft1</a> specification of CWL, but also includes some <a target="_blank" href="https://github.com/rabix/rabix/tree/devel/docs">own extensions</a>.</p>

        <p>Check out the <a target="_blank" href="https://github.com/rabix/rabix/wiki">wiki</a> for user manual.</p>

        <section class="subscribe">

            <form name="view.form" ng-submit="subscribeToMailingList()" novalidate>
                <div class="form-group" ng-class="{'has-error': view.form.email.$invalid && view.showError}">
                    <div class="input-group input-group-lg">

                        <input type="email" class="form-control" name="email" ng-model="subscribe.email" placeholder="Leave your email to get updates" required>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button" ng-disabled="view.subscribing">Submit</button>
                        </span>

                    </div>

                    <p ng-if="!(view.message | isEmpty)" class="alert alert-success" ng-class="{'alert-success': view.message.status, 'alert-danger': !view.message.status}">{{ view.message.trace }}</p>

                </div>
            </form>

        </section>

    </div>
    <!-- # .content -->
</div>