<div class="page job">
    <div class="heading">
        <a ng-href="#/jobs" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <div class="form-group job-name">
                <input type="text" placeholder="Job Name" ng-model="view.job.name" class="form-control" />
            </div>

            <div class="actions pull-right">

                <button ng-disabled="view.saving" class="app-pick-btn btn btn-default" ng-click="pickApp()">
                    <i class="fa fa-puzzle-piece"></i> Pick
                </button>

                <json-preview json="{{ view.job }}"></json-preview>

                <button ng-if="view.user" ng-disabled="view.saving" class="job-create-btn btn btn-primary" ng-click="create()">
                    <i class="fa fa-plus"></i> Create
                </button>

            </div>
            <!-- # .actions -->
        </h1>
    </div>
    <!-- # .heading -->

    <div class="content">

        <button class="btn btn-flush btn-flush-app" ng-click="flush()" tooltip="Start with new app" tooltip-placement="left" tooltip-append-to-body="true">
            <i class="fa fa-trash"></i>
        </button>

        <section ng-if="!view.app">
            <p class="job-user-guide">Pick <a href ng-click="pickApp()">tool or workflow</a> for which you want to generate job json</p>
        </section>

        <form ng-show="view.app" class="form" name="forms.job" role="form" novalidate>

            <div class="section top">
                <div class="input-property">
                    <div class="form-group">
                        <label class="control-label">Allocated Resources</label>
                        <div class="input-property-body">
                            <div class="col-md-6">
                                <label class="control-label">CPU</label>
                                <input type="{{ view.app.json.requirements.resources.cpu.expr ? 'text' : 'number' }}"
                                       class="form-control" ng-model="view.job.allocatedResources.cpu"
                                       ng-readonly="view.app.json.requirements.resources.cpu.expr"
                                       min="{{ view.app.json.requirements.resources.cpu.expr ? 0 : view.app.json.requirements.resources.cpu }}">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Memory</label>
                                <input type="{{ view.app.json.requirements.resources.mem.expr ? 'text' : 'number' }}"
                                       class="form-control" ng-model="view.job.allocatedResources.mem"
                                       ng-readonly="view.app.json.requirements.resources.mem.expr"
                                       min="{{ view.app.json.requirements.resources.mem.expr ? 0 : view.app.json.requirements.resources.mem }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- # .section -->

            <div class="section bottom">

                <div class="content">

                    <div class="input-container">
                        <input-field
                                ng-repeat="property in view.list.part track by $index"
                                ng-model="view.job.inputs[property.key]"
                                key="{{ property.key }}"
                                prop="property.obj"
                                index="{{ $index }}"
                                form="forms.job">
                        </input-field>
                    </div>

                    <p class="alert alert-info" ng-if="view.app.json.inputs.properties | isEmpty">There are no values to be set at this moment.</p>
                </div>

                <paginator page="view.page" total="view.total" per-page="10" handler="getMore(offset)"></paginator>

            </div>
            <!-- # .section -->

        </form>

    </div>
</div>