<div ng-class="view.classes" loading="view.loading">

    <div class="filters empty"></div>

    <div ng-if="!view.loading" class="container">
        <table class="table table-hover jobs">
            <thead><tr><th>Job json URL</th></tr></thead>
            <tbody>
                <tr ng-repeat="job in view.jobs track by $index">
                    <td><a ng-href="{{ view.prefix + job }}" target="_blank">{{ view.prefix + job }}</a></td>
                </tr>
                <tr class="empty" ng-if="view.jobs.length === 0">
                    <td colspan="3"><p class="alert alert-info">There are no jobs found</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .container -->

    <div class="paginate" ng-if="!view.loading && view.jobs.length !== 0">
        <div class="container">
            <button ng-disabled="!view.paginator.prev" class="btn btn-default pull-left" ng-click="goToPage('prev')"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <span class="page-number">{{ view.page }} / {{ view.total }}</span>
            <button ng-disabled="!view.paginator.next" class="btn btn-default pull-right" ng-click="goToPage('next')"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <!-- # .paginate -->

</div>