<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchJobs()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search jobs" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="actions pull-right" ng-if="view.user">
                    <a ng-href="#/job" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Job</a>
                </div>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content">
        <table class="table table-hover jobs">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Repo</th>
                    <th>Author</th>
                    <th>Url</th>
                    <th class="right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in view.jobs">
                    <td>{{ job.name }}</td>
                    <td><a ng-href="#/repo/{{ job.repo._id }}">{{ job.repo.owner }}/{{ job.repo.name }}</a></td>
                    <td>{{ job.author }}</td>
                    <td><a ng-href="{{ job.url }}" class="job-link" target="_blank">{{ job.url }}</a></td>
                    <td class="right">
                        <a href ng-if="view.user.id === job.user" ng-click="deleteJob(job)" class="btn btn-default" tooltip="Delete Job"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.jobs.length === 0">
                    <td colspan="5"><p class="alert alert-info">There are no jobs</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <paginator page="view.page" total="view.total" handler="getMoreJobs(offset)"></paginator>


</div>