<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchPipelines()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search workflows" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <label class="checkbox" ng-show="view.user">
                    <input type="checkbox" ng-model="view.mine" ng-change="toggleMyPipelines()" /> Show only mine
                </label>
            </div>

            <div class="col-md-5">
                <a ng-href="#/workflow/0/new" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Workflow</a>
            </div>

        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content">
        <table class="table table-hover pipelines">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Repo name</th>
                    <th>Author</th>
                    <th class="right">
                        <a href
                           class="btn btn-default btn-toggle"
                           tooltip="Toggle Versions"
                           tooltip-placement="left"
                           tooltip-append-to-body="true"
                           ng-click="toggleRevisions()">
                            <i class="fa" ng-class="{'fa-chevron-right': !view.active, 'fa-chevron-down': view.active}"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="pipeline in view.pipelines">
                    <td><a ng-href="#/pipeline/{{ ::pipeline.latest._id }}">{{ ::pipeline.name }}</a></td>
                    <td><p tooltip="{{ ::pipeline.repo.name }}" tooltip-popup-delay="1000"><a ng-href="#/repo/{{ ::pipeline.repo._id }}">{{ ::pipeline.repo.owner}}/{{ pipeline.repo.name }}</a></p></td>
                    <td><p tooltip="{{ ::pipeline.author }}" tooltip-popup-delay="1000">{{ ::pipeline.author }}</p></td>
                    <td class="right">
                        <a class="btn btn-default" tooltip="Edit Workflow" ng-href="#/pipeline/{{ ::pipeline.latest._id }}/edit"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-default" ng-if="view.user && pipeline.pipeline.user._id === view.user.id" tooltip="Delete Workflow" ng-click="deletePipeline(pipeline)"><i class="fa fa-trash"></i></a>
                        <a href
                           class="btn btn-default btn-toggle"
                           tooltip="Toggle Versions ({{ ::pipeline.revisions.length }})"
                           tooltip-placement="left"
                           tooltip-append-to-body="true"
                           ng-click="toggleRevisions(pipeline)">
                            {{ ::pipeline.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !pipeline.active, 'fa-chevron-down': pipeline.active}"></i>
                        </a>
                    </td>
                </tr>
                <tr class="inner-table" ng-class="{active: pipeline.active}" ng-repeat-end>
                    <td colspan="4">
                        <div class="inner-table-body">
                            <table class="table table-hover pipeline-revisions">
                                <thead>
                                    <tr>
                                        <th>Versions</th>
                                        <th>&nbsp;</th>
                                        <th class="right">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="revision in ::pipeline.revisions">
                                        <td><a ng-href="#/pipeline/{{ ::revision._id }}" class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></a></td>
                                        <td><p tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p></td>
                                        <td class="right">
                                            <a class="btn btn-sm btn-default" tooltip="Edit Revision" ng-href="#/pipeline/{{ ::revision._id }}/edit"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="empty" ng-if="pipeline.revisions.length === 0">
                                        <td colspan="4"><p class="alert alert-info">There are no public versions for this workflow</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.pipelines.length === 0">
                    <td colspan="4"><p class="alert alert-info">There are no workflows found</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <paginator page="view.page" total="view.total" handler="getMorePipelines(offset)"></paginator>

</div>