<div ng-class="view.classes" loading="view.loading" class="pipeline-preview">

    <div class="heading">
        <a ng-href="#/pipelines" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <span>{{ view.pipeline.pipeline.name }} <span class="pipeline-repo">({{view.pipeline.pipeline.repo.owner}}/{{view.pipeline.pipeline.repo.name}})</span></span>
            <div ng-if="view.revisions.length > 0" class="nav nav-pills nav-page">
                <li ng-class="{active: view.tab === 'info'}"><a href="" ng-click="switchTab('info')">Info</a></li>
                <li ng-class="{active: view.tab === 'revisions'}"><a href="" ng-click="switchTab('revisions')">Revisions</a></li>
            </div>
            <a ng-href="#/pipeline/{{ view.pipeline._id }}/edit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Edit</a>
        </h1>
    </div>
    <!-- # .heading -->

    <div class="content">

        <section class="tab info" ng-show="view.tab === 'info'">
            <div pipeline="view.pipeline"></div>
        </section>

        <section class="tab revisions" ng-if="view.tab === 'revisions'">

            <table class="table table-hover revisions">
                <thead>
                <tr>
                    <th>Revision</th>
                    <th>Version</th>
                    <th>Description</th>
                    <th class="right">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="revision in view.revisions">

                    <td class="revision">
                        <strong>{{ revision.rev }}</strong>
                    </td>

                    <td class="revision">
                        <strong class="label label-primary" ng-if="revision.version"><i class="fa fa-tag"></i> {{ 'v' + revision.version }}</strong>
                        <i ng-if="!revision.version">Not published</i>
                    </td>

                    <td><p tooltip="{{ revision.description }}" tooltip-popup-delay="1000">{{ revision.description }}</p></td>

                    <td class="right">
                        <a class="btn btn-sm btn-default" tooltip="View Revision" ng-href="#/pipeline/{{ revision._id }}"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-sm btn-default" tooltip="Edit Revision" ng-href="#/pipeline/{{ revision._id }}/edit"><i class="fa fa-pencil"></i></a>
                    </td>

                </tr>
                <tr class="empty" ng-if="view.revisions.length === 0">
                    <td colspan="4"><p class="alert alert-info">There are no revisions for this workflow</p></td>
                </tr>
                </tbody>
            </table>

        </section>

    </div>
    <!-- # .content -->

</div>