<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <a ui-sref="home" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            Settings
            <div class="actions pull-right">
                <button class="btn btn-primary" ng-click="generateToken()" ng-disabled="view.generating" tooltip="You can (re)generate your token" tooltip-placement="bottom">(Re)generate Token</button>
                <button class="btn btn-danger" ng-click="revokeToken()" ng-disabled="view.revoking" tooltip="You can revoke your token" tooltip-placement="bottom">Revoke Token</button>
                <button class="btn btn-default" ng-click="getToken()" ng-disabled="view.getting" tooltip="Check your token" tooltip-placement="bottom">Check Token</button>
            </div>
        </h1>
    </div>
    <!-- # .heading -->

    <div class="content content-tbl" ng-if="!view.loading">

        <table class="table table-hover jobs">
            <thead><tr><th>History of generated job JSONs</th></tr></thead>
            <tbody>
            <tr ng-repeat="job in view.jobs track by $index">
                <td><a ng-href="{{ ::job.url }}" target="_blank">{{ ::job.url }}</a></td>
            </tr>
            <tr class="empty" ng-if="view.jobs.length === 0">
                <td colspan="3"><p class="alert alert-info">There are no jobs found</p></td>
            </tr>
            </tbody>
        </table>

    </div>

    <paginator class="paginator" page="view.page" total="view.total" handler="getMoreJobs(offset)"></paginator>

</div>