.backlog{
  padding: $separation-padding 0;
  background-color: $backlog-background;
  color: $lighter-text-color;

  .text-muted {
    color: $light-text-color
  }

  ul {
    li {
      padding: 15px 0;
    }
  }

}