header {
  background-color: $dark-header-background;
  padding: 10px 10px 11px 10px;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  .logo-wrap {
    background: image-url('logo.png') no-repeat 17px 13px;
    background-size: 21px 28px;
    margin: -10px 0 0 -10px;

    // transition
    @include transition(opacity .9s, visibility .9s);
    opacity: 0;
    visibility: hidden;

  }

  .logo {
    padding: 6px 50px 3px; // hacky magic numbers to make .logo fill .logo-wrap
    font-size: 22px;
    position: relative;
    float: left;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px $gray-dark;

    small {
      font-size: 10px;
      position: relative;
      left: 28px;
      top: -6px;
      display: block;
      color: #f3f3f3;
      text-shadow: none;
    }
  }

  .nav-steps {
    float: left;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 15px;

      a {
        @extend %nav-step;

        width: 35px; //temporary
        height: 35px; //temporary
        border-radius: 20px; //temporary
        border: 2px solid $light-text-color; //temporary
        font-size: 20px;

        color: $light-text-color;
        @include transition(color .8s, border-color .8s);


        &.active {
          border-color: $lighter-text-color;
          color: $lighter-text-color;
        }

        &:hover, &:focus, &:active {
          color: $lighter-text-color;
          border-color: $lighter-text-color;
        }


      }
    }


    // transition
    @include transition(opacity .9s, visibility .9s);
    opacity: 0;
    visibility: hidden;
  }

  .links-list {
    float: left;
    li {
      display: inline-block;
      a {
        padding: 17px 15px;
        margin: -10px 0;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        color: $light-text-color;

        &:hover, &:focus, &:active {
          color: $lighter-text-color;
        }
      }
    }

    // transition
    @include transition(opacity .9s, visibility .9s);
    opacity: 0;
    visibility: hidden;
  }

  .login-button {
    display: none;
  }

  .go-to-apps {
    color: #fff;
    margin-right: 10px;

    &:hover {
      text-decoration: none;
    }

    .user-avatar {
      border-radius: 50%;
      height: 34px;
      width: 34px;
      margin-right: 10px;
    }
  }

  &.scrolled {

    .logo-wrap, .nav-steps, .links-list {
      opacity: 1;
      visibility: visible
    }
  }
}
