$header-height: $input-height-base + 20; //temporary
$footer-height: 50px;

body, header, .container {
  min-width: 860px; //not responsive yet!
}

body {
  position: relative;
}

@import "header";
@import "front";
@import "description";
@import "cwl";
@import "backlog";
@import "roadmap";
@import "footer";
