<div ng-class="$parent.view.classes" loading="view.loading">

    <div class="col" ng-class="{'col-md-7': view.showTrace, 'col-md-12 cancel-fixed': !view.showTrace}">

        <div class="heading row fixed-left">
            <div ng-class="{'col-md-12': view.showTrace, 'col-md-8 col-md-offset-2': !view.showTrace}">

                <ul class="nav nav-tabs nav-tabs-steps regular">
                    <li class="logo"><a ng-href="#/"><span>cli</span>che</a></li>

                    <li ng-class="{active: view.tab === 'general'}"><a href ng-click="switchTab('general')">General</a></li>
                    <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">Inputs</a></li>
                    <li ng-class="{active: view.tab === 'outputs'}"><a href ng-click="switchTab('outputs')">Outputs</a></li>
                    <li ng-class="{active: view.tab === 'adapter'}"><a href ng-click="switchTab('adapter')">Adapter</a></li>
                    <li ng-class="{active: view.tab === 'values'}"><a href ng-click="switchTab('values')">Values</a></li>

                    <li class="pull-right">
                        <a href
                           ng-click="toggleTrace()"
                           class="toggle-trace"
                           tooltip="{{ view.showTrace ? 'hide' : 'show' }} trace"
                           tooltip-append-to-body="true"
                           tooltip-placement="right">
                            <i class="glyphicon" ng-class="{'glyphicon-pause': view.showTrace, 'glyphicon-play': !view.showTrace}"></i>
                        </a>
                    </li>
                </ul>

                <ul class="nav nav-tabs nav-tabs-steps mobile">
                    <li class="logo"><a ng-href="#/"><span>cli</span>che</a></li>

                    <li ng-class="{active: view.tab === 'general'}"><a href ng-click="switchTab('general')">G</a></li>
                    <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">I</a></li>
                    <li ng-class="{active: view.tab === 'outputs'}"><a href ng-click="switchTab('outputs')">O</a></li>
                    <li ng-class="{active: view.tab === 'adapter'}"><a href ng-click="switchTab('adapter')">A</a></li>
                    <li ng-class="{active: view.tab === 'values'}"><a href ng-click="switchTab('values')">V</a></li>

                    <li class="pull-right"><a href ng-click="toggleTrace()" class="toggle-trace"><i class="glyphicon" ng-class="{'glyphicon-pause': view.showTrace, 'glyphicon-play': !view.showTrace}"></i></a></li>
                </ul>


            </div>
        </div>
        <!-- # .heading -->

        <div class="row">
            <div ng-class="{'col-md-12': view.showTrace, 'col-md-8 col-md-offset-2': !view.showTrace}">
                <ng-form class="form" name="forms.toolForm" role="form" novalidate>
                    <div class="tabs left">
                        <ng-include src="view.tabViewPath"></ng-include>
                    </div>
                </ng-form>
            </div>
        </div>


    </div>

    <div class="col col-md-5" ng-show="view.showTrace">

        <div class="heading fixed-right">
            <ul class="nav nav-tabs nav-tabs-trace">
                <li class="pull-right" ng-class="{active: view.trace === 'console'}"><a href ng-click="switchTrace('console')">Console</a></li>
                <li class="pull-right" ng-class="{active: view.trace === 'job'}"><a href ng-click="switchTrace('job')">Job JSON</a></li>
                <li class="pull-right" ng-class="{active: view.trace === 'tool'}"><a href ng-click="switchTrace('tool')">Tool JSON</a></li>
            </ul>
        </div>

        <div class="tabs right" ng-switch="view.trace">
            <div class="tab" ng-switch-when="tool">
                <zclip data="tool"></zclip>
                <pre class="json-trace" pretty-json="view.toolForm"></pre>
            </div>

            <div class="tab" ng-switch-when="job">
                <zclip data="job"></zclip>
                <pre class="json-trace" pretty-json="view.jobForm"></pre>
            </div>

            <div class="tab" ng-switch-when="console">
                <zclip data="command"></zclip>
                <pre class="console-trace">{{ view.command }}</pre>
            </div>
        </div>

    </div>

</div>