<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">
        <span>{{ (view.mode === 'edit') ? 'Edit' : 'Add' }} Input Property</span>
        <label class="checkbox inline"><input type="checkbox" ng-model="view.required"> required</label>
    </h4>
</div>
<div class="modal-body">

    <form ng-submit="save()" name="view.form" novalidate>

        <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="view.name" ng-readonly="view.mode === 'edit'" is-valid-name required>
                    <span class="help-block">Characters such as . and $ are forbidden</span>
                </div>
            </div>
            <!-- END Name -->

            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error': (view.form.type.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="type">Type</label>
                    <select class="form-control" id="type" name="type" ng-model="view.property.type" required>
                        <option value="file">file</option>
                        <option value="string">string</option>
                        <option value="integer">integer</option>
                        <option value="number">number</option>
                        <option value="array">array</option>
                        <option value="boolean">boolean</option>
                    </select>
                </div>
            </div>
            <!-- END Type -->

            <div class="col-md-4" ng-if="view.property.type === 'string'">
                <div class="form-group">
                    <label class="empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.isEnum" ng-change="toggleEnum()"> Enum</label>
                    </div>
                </div>
            </div>
            <!-- END Eum -->

            <div class="col-md-4" ng-if="view.property.type === 'array'">
                <div class="form-group">
                    <label class="control-label" for="item-type" class="control-label">Item Type</label>

                    <select class="form-control" id="item-type" name="itemType" ng-model="view.property.items.type">
                        <option value="string">string</option>
                        <option value="integer">integer</option>
                        <option value="number">number</option>
                        <option value="file">file</option>
                        <option value="object">object</option>
                    </select>
                </div>
            </div>
            <!-- END Item Type -->

        </div>

        <div class="row" ng-if="view.isEnum">
            <div class="col-md-12">
                <enum ng-model="view.property.enum" type="'string'" min="1" is-required="true"></enum>
            </div>
        </div>

        <div class="row" ng-if="view.property.type === 'array'">

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.min.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="min" class="control-label">Min</label>
                    <input type="number" class="form-control" id="min" name="min" ng-model="view.property.minItems" min="0">
                </div>
            </div>
            <!-- END Min -->

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.max.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="max" class="control-label">Max</label>
                    <input type="number" class="form-control" id="max" name="max" ng-model="view.property.maxItems" min="0">
                </div>
            </div>
            <!-- END Max -->

        </div>

        <legend class="legend-small">
            <label class="checkbox inline"><input type="checkbox" ng-model="view.adapter" ng-change="toggleAdapter()"> Adapter <small>(include in command line)</small></label>
        </legend>

        <div ng-if="view.property.adapter" class="row">

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.order.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="order">Order</label>
                    <input type="number" class="form-control" id="order" name="order" ng-model="view.property.adapter.order">
                </div>
            </div>
            <!-- END Order -->

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="prefix">Prefix</label>
                    <input type="text" class="form-control" id="prefix" name="prefix" ng-model="view.property.adapter.prefix" ng-disabled="view.disabled">
                </div>
            </div>
            <!-- END Prefix -->

            <div class="col-md-2">
                <div class="form-group" ng-class="{'has-error': (view.form.separator.$invalid && view.form.$dirty)}">
                    <label class="control-label">Separator</label>
                    <separator type="item" model="view.property.adapter.separator" is-disabled="view.disabled"></separator>
                </div>
            </div>
            <!-- END Separator -->

            <div ng-if="view.property.type === 'array'" class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Item Separator</label>
                    <separator type="list" model="view.property.adapter.itemSeparator" is-disabled="view.disabled"></separator>
                </div>
            </div>
            <!-- END Item Separator -->

            <div class="col-md-2" ng-if="!view.disabled && view.property.items.type !== 'object'">
                <div class="form-group" title="Value">
                    <label class="control-label">Value</label>
                    <expr ng-model="view.property.adapter.value" handle-item-update="updateTransform(value)" only-expr="true" self="true" self-type="view.property.type" self-item-type="view.property.items.type" placeholder="value"></expr>
                </div>
            </div>
            <!-- END Transform -->

            <div class="col-md-2" ng-if="(view.property.type === 'array' && view.property.items.type === 'file') || view.property.type === 'file'">
                <div class="form-group">
                    <label class="empty-label">&nbsp;</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="view.property.adapter.streamable"> Streamable</label>
                    </div>
                </div>
            </div>
            <!-- END Streamable -->

        </div>

        <p ng-if="!view.property.adapter" class="alert alert-info">Adapter is not active and input won't be displayed in the console</p>

        <div class="form-group main-actions">
            <a href class="btn btn-warning" ng-click="cancel()">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>