<div ng-class="view.classes" loading="view.loading">

    <div class="filters">
        <div class="row no-margin">
            <div class="col-md-4">
                <form class="search-form" ng-submit="searchJobs()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search task templates" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            <a ng-if="!(view.searchTerm | isEmpty)" class="btn btn-default" href ng-click="resetSearch()"><i class="fa fa-ban"></i></a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="actions pull-right" ng-if="view.user">
                    <a ui-sref="task({id: 'new'})" class="btn btn-primary"><i class="fa fa-plus"></i> New Task Template</a>
                </div>
            </div>
        </div>
    </div>
    <!-- # .filters -->

    <div ng-if="!view.loading" class="content content-tbl">
        <table class="table table-hover jobs">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Repo</th>
                    <th>Author</th>
                    <th>Url</th>
                    <th class="right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in view.jobs">
                    <td>{{ ::job.name }}</td>
                    <td><span class="label label-primary">{{ ::job.type }}</span></td>
                    <td><a ui-sref="repo({id: job.repo._id})">{{ ::job.repo.owner }}/{{ ::job.repo.name }}</a></td>
                    <td>{{ ::job.author }}</td>
                    <td><a ng-href="{{ ::job.url }}" class="job-link" target="_blank">{{ ::job.url }}</a></td>
                    <td class="right">
                        <a ui-sref="task({id: job._id})" ng-if="view.user.id === job.user" class="btn btn-default" tooltip="Edit Task Template"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                <tr class="empty" ng-if="view.jobs.length === 0">
                    <td colspan="6"><p class="alert alert-info">There are no task templates</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- # .content -->

    <paginator class="paginator" page="view.page" total="view.total" handler="getMoreJobs(offset)"></paginator>


</div>