<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <a ng-if="view.mode === 'new'" ng-href="#/apps" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <a ng-if="view.mode === 'edit'" ng-href="#/app/{{ view.app._id }}" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <a ng-if="view.currentRevision" href class="btn btn-orange" ng-click="changeRevision()">
                revision {{ view.currentRevision.order }}
            </a>

            {{ (view.mode === 'new') ? 'New App' : view.app.name }}
            <span ng-if="view.currentRevision.version" class="version"><i class="fa fa-tag"></i> {{ 'v' + view.currentRevision.version }}</span>

            <div ng-if="view.user" class="actions pull-right">
                <button ng-if="view.user.id === view.app.user._id" ng-disabled="view.saving" class="app-save-btn btn btn-default" ng-click="save('save')">
                    <i class="fa fa-check"></i> Save
                </button>

                <button ng-if="view.user.id === view.app.user._id" ng-disabled="view.saving" class="app-publish-btn btn btn-primary" ng-click="save('publish')">
                    <i class="fa fa-plus"></i> Publish
                </button>

                <button ng-if="view.app | isEmpty" ng-disabled="view.saving" class="app-create-btn btn btn-primary" ng-click="save('create')">
                    <i class="fa fa-plus"></i> Create
                </button>

                <button ng-if="view.mode === 'edit' && view.user" ng-disabled="view.saving" ng-click="fork()" class="btn btn-default">
                    <i class="fa fa-code-fork"></i> Fork
                </button>

                <button class="app-publish-btn btn btn-default" ng-click="loadJsonEditor()">
                    <i class="fa fa-cloud-download"></i> Import
                </button>

                <button ng-if="view.user.id === view.app.user._id && !view.currentRevision.version" ng-disabled="view.saving" class="app-delete-btn btn btn-danger" ng-click="delete()">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>

        </h1>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content">
        <div class="col content-col">

            <div class="heading">
                <ul class="nav nav-tabs nav-tabs-steps regular">

                    <li ng-class="{active: view.tab === 'general'}"><a href ng-click="switchTab('general')">General</a></li>
                    <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">Inputs</a></li>
                    <li ng-class="{active: view.tab === 'outputs'}"><a href ng-click="switchTab('outputs')">Outputs</a></li>
                    <li ng-class="{active: view.tab === 'adapter'}"><a href ng-click="switchTab('adapter')">Adapter</a></li>
                    <li ng-class="{active: view.tab === 'values'}"><a href ng-click="switchTab('values')">Values</a></li>

                </ul>

                <a class="btn btn-flush btn-flush-cliche" href ng-click="flush()" tooltip="Start with clean template" tooltip-placement="left" tooltip-append-to-body="true">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            <!-- # .heading -->

            <div class="content">
                <ng-form class="form" name="forms.toolForm" role="form" novalidate>
                    <div class="tabs left">
                        <ng-include src="view.tabViewPath"></ng-include>
                    </div>
                </ng-form>
            </div>

        </div>

        <div class="col sidebar-col" ng-class="{closed: !view.showSidebar}">

            <div class="heading">
                <ul class="nav nav-tabs nav-tabs-trace">

                    <li class="toggle-action">
                        <a href ng-click="toggleSidebar()">
                            <i ng-class="{'fa-chevron-right': view.showSidebar, 'fa-chevron-left': !view.showSidebar}" class="fa"></i>
                        </a>
                    </li>

                    <li ng-class="{active: view.trace === 'tool'}"><a href ng-click="switchTrace('tool')">Tool JSON</a></li>
                    <li ng-class="{active: view.trace === 'job'}"><a href ng-click="switchTrace('job')">Job JSON</a></li>
                    <li ng-class="{active: view.trace === 'console'}"><a href ng-click="switchTrace('console')">Console</a></li>
                </ul>
            </div>

            <div class="content">
                <div class="tabs right" ng-switch="view.trace">

                    <div class="tab" ng-switch-when="tool">
                        <zclip data="tool"></zclip>
                        <pre class="json-trace" pretty-json="view.toolForm"></pre>
                    </div>

                    <div class="tab" ng-switch-when="job">
                        <zclip data="job"></zclip>
                        <job-actions user="view.user"></job-actions>
                        <pre class="json-trace" pretty-json="view.jobForm"></pre>
                    </div>

                    <div class="tab" ng-switch-when="console">
                        <zclip data="command"></zclip>
                        <pre class="console-trace" ng-class="{wait: view.generatingCommand}">{{ view.command }}</pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<span class="saving" ng-class="{show: view.saving}">saving</span>