<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <a ng-if="view.mode === 'new'" ng-href="#/apps" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <a ng-if="view.mode === 'edit'" ng-href="#/tool/{{ ::view.app._id }}/info" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <div class="form-group tool-name">
                <input ng-show="view.mode === 'new'" type="text" placeholder="Tool Name" ng-model="view.toolForm.name" class="form-control" />
                <span ng-hide="view.mode === 'new'">{{ ::view.app.name }}</span>

                <a ng-if="view.mode === 'edit'" href class="version revision" ng-click="changeRevision()"><i class="fa fa-tag"></i> v{{ ::view.revision.version }}</a>

            </div>

            <div class="actions pull-right">

                <button ng-if="view.user && view.mode === 'new'" ng-disabled="view.saving" class="app-create-btn btn btn-primary" ng-click="create()">
                    <i class="fa fa-plus"></i> Create
                </button>

                <button ng-if="view.user && view.user.id === view.app.user._id" ng-disabled="view.saving" class="app-save-btn btn btn-primary" ng-click="update()">
                    <i class="fa fa-check"></i> Update
                </button>

                <div class="btn-group" role="group">
                    <json-preview title="Tool JSON" json="{{ view.toolForm }}"></json-preview>
                    <json-preview title="Job JSON" json="{{ view.jobForm }}"></json-preview>
                </div>

                <div class="btn-group right" ng-class="{open: view.isMenuOpen}">
                    <button type="button" ng-click="toggleMenu()" class="btn btn-default dropdown-toggle">
                        <i class="fa fa-cog"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-click="toggleMenu()">

                        <li><a href ng-click="loadMarkdown()"><i class="fa fa-ellipsis-h"></i> <span>Description</span></a></li>

                        <li ng-if="view.mode === 'edit' && view.user">
                            <a href ng-disabled="view.saving" ng-click="fork()"><i class="fa fa-code-fork"></i> <span>Fork</span></a>
                        </li>
                        <li>
                            <a href ng-click="loadJsonEditor()"><i class="fa fa-cloud-download"></i> <span>Import</span></a>
                        </li>
                        <li ng-if="view.user && view.user.id === view.app.user._id && !view.app.repo.is_public">
                            <a href ng-disabled="view.saving" ng-click="delete()"><i class="fa fa-trash"></i> <span>Delete</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- # .actions -->
        </h1>
    </div>
    <!-- # .heading -->

    <div class="heading sub-heading">
        <ul class="nav nav-tabs nav-tabs-steps regular">
            <li ng-class="{active: view.tab === 'general'}"><a href ng-click="switchTab('general')">General</a></li>
            <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">Inputs</a></li>
            <li ng-class="{active: view.tab === 'outputs'}"><a href ng-click="switchTab('outputs')">Outputs</a></li>
            <li ng-hide="view.app.is_script" ng-class="{active: view.tab === 'adapter'}"><a href ng-click="switchTab('adapter')">Adapter</a></li>
            <li ng-hide="view.app.is_script" ng-class="{active: view.tab === 'values'}"><a href ng-click="switchTab('values')">Test</a></li>
        </ul>

        <a class="btn btn-flush btn-flush-cliche" href ng-click="flush()" tooltip="Start with clean template" tooltip-placement="left">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content">

        <div ng-show="view.tab === 'general'" class="tab general">
            <ng-include class="include" src="'views/cliche/tabs/general.html'"></ng-include>
        </div>
        <div ng-show="view.tab === 'inputs'" class="tab inputs">
            <ng-include class="include" src="'views/cliche/tabs/inputs.html'"></ng-include>
        </div>
        <div ng-show="view.tab === 'outputs'" class="tab outputs">
            <ng-include class="include" src="'views/cliche/tabs/outputs.html'"></ng-include>
        </div>
        <div ng-if="!view.app.is_script" ng-show="view.tab === 'adapter'" class="tab adapter">
            <ng-include class="include" src="'views/cliche/tabs/adapter.html'"></ng-include>
        </div>
        <div ng-if="!view.app.is_script" ng-show="view.tab === 'values'" class="tab values">
            <ng-include class="include" src="'views/cliche/tabs/values.html'"></ng-include>
        </div>

    </div>
    <!-- # .content -->

    <div ng-if="!view.loading && !view.app.is_script" class="console" ng-class="{'console-hide': !view.showConsole}">
        <div ng-click="toggleConsole()" class="heading">console <i ng-class="{'fa-chevron-down': view.showConsole, 'fa-chevron-right': !view.showConsole}" class="fa pull-right"></i></div>
        <zclip data="command"></zclip>
        <pre class="console-trace" ng-class="{wait: view.generatingCommand}">{{ view.command }}</pre>
    </div>
    <!-- # .console -->

</div>

<span class="saving" ng-class="{show: view.saving}">saving</span>