<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <a ng-if="view.mode === 'new'" ui-sref="apps" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <a ng-if="view.mode === 'edit'" ui-sref="workflow-view({id: view.workflow._id})" class="btn btn-default pull-left go-back"><i class="fa fa-chevron-left"></i> Back</a>
        <h1>
            <div class="form-group workflow-name">
                <span class="pipeline-repo" ng-show="view.workflow.pipeline.repo">({{ ::view.workflow.pipeline.repo.owner }}/{{ ::view.workflow.pipeline.repo.name }}) </span>
                <input ng-show="view.mode === 'new'" type="text" placeholder="Workflow Name" ng-model="view.workflow.name" class="form-control" />
                <span ng-hide="view.mode === 'new'">{{ ::view.workflow.pipeline.name }}</span>
            </div>

            <strong class="changes-mark" ng-if="view.isChanged" tooltip="There are changes in your workflow" tooltip-placement="right">
                (<i class="fa fa-asterisk"></i>)
            </strong>

            <div class="actions pull-right">

                <button class="btn btn-default" ng-click="validateWorkflowJSON()" ng-disabled="view.saving" ><i class="fa fa-check"></i> Validate</button>
                <button class="btn btn-default" ng-click="workflowToJSON()" ng-disabled="view.saving" ><i class="fa fa-code"></i> JSON</button>

                <button ng-if="view.user" ng-click="save()" class="btn btn-default" ng-disabled="view.saving">
                    <i ng-class="{'fa-plus': view.mode === 'new', 'fa-check': view.mode === 'edit'}" class="fa"></i>
                    {{ view.mode === 'new' ? 'Create' : 'Update' }}
                </button>

                <div class="btn-group right" ng-class="{open: view.isMenuOpen}">
                    <button type="button" ng-click="toggleMenu()" class="btn btn-default dropdown-toggle">
                        <i class="fa fa-cog"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-click="toggleMenu()">
                        <li>
                            <a href ng-click="loadJsonImport()"><i class="fa fa-cloud-download"></i> <span>Import</span></a>
                        </li>

                        <li><a href ng-click="loadMarkdown()"><i class="fa fa-ellipsis-h"></i> <span>Description</span></a></li>

                        <li ng-if="view.mode === 'edit' && view.user">
                            <a href ng-disabled="view.saving" ng-click="fork()"><i class="fa fa-code-fork"></i> <span>Fork</span></a>
                        </li>

                        <li ng-if="view.user && view.mode === 'edit'">
                            <a href ng-click="delete()" ng-disabled="view.saving || view.deleting"><i class="fa fa-trash"></i> Delete</a>
                        </li>
                    </ul>
                </div>
            </div>

        </h1>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content content-tbl flex-box-row">

        <div class="col flex-box-column flex-one content-col">
            <div class="pipeline-wrap flex-box-column flex-one" pipeline="view.workflow" edit-mode="true" controller-id="view.id" pipeline-change-fn="onWorkflowChange(value)"></div>
        </div>

        <div class="col flex-box-column flex-auto sidebar-col" ng-class="{closed: !view.showSidebar}">

            <div class="heading no-padding">
                <ul class="nav nav-tabs nav-tabs-steps">

                    <li class="toggle-action">
                        <a href ng-click="toggleSidebar()">
                            <i ng-class="{'fa-chevron-right': view.showSidebar, 'fa-chevron-left': !view.showSidebar}" class="fa"></i>
                        </a>
                    </li>

                    <li ng-class="{active: view.tab === 'apps'}"><a href ng-click="switchTab('apps')">Apps</a></li>
                    <li ng-class="{active: view.tab === 'params'}"><a href ng-click="switchTab('params')">Params</a></li>
                    <!--<li ng-class="{active: view.tab === 'properties'}"><a href ng-click="switchTab('properties')">Properties</a></li>-->
                </ul>
            </div>

            <div class="content content-tbl flex-box-column">

                <div class="tabs right flex-one" ng-switch="view.tab">

                    <div class="tab flex-box-column flex-one" ng-class="{loading: view.filtering}" ng-switch-when="apps">

                        <ul class="app-sidebar-list">

                            <li ng-repeat="(repoType, repoTypeObj) in ::view.repoTypes" ng-class="{open: view.groups[repoType]}">
                                <span ng-click="toggleGroup(repoType)">
                                    <i class="fa" ng-class="{'fa-plus-square': !view.groups[repoType], 'fa-minus-square': view.groups[repoType]}"></i>
                                    {{ ::view.capitalize(repoType.split('Repositories')[0]) }} Repositories
                                </span>

                                <ul>
                                    <li ng-if="(repoTypeObj | isEmpty) && (repoTypeObj | isEmpty)">
                                        <p class="alert alert-info">
                                            <span ng-if="repoType === 'myRepositories' && !view.user"> {{ view.message }}</span>
                                            <span ng-if="repoType === 'myRepositories' && view.user">You don't have any repository yet</span>
                                            <span ng-if="repoType === 'otherRepositories'">There are no other repositories</span>
                                        </p>
                                    </li>
                                    <li ng-repeat="(repoName, apps) in ::repoTypeObj" ng-class="{open: view.repoGroups[repoName]}">

                                        <span ng-click="toggleRepo(repoName)">
                                            <i class="fa" ng-class="{'fa-plus-square': !view.repoGroups[repoName], 'fa-minus-square': view.repoGroups[repoName]}"></i>
                                            {{ ::repoName }}
                                        </span>

                                        <ul class="apps-inner-list">
                                            <li ng-if="apps.tools.length !== 0"><span class="label label-info section-name">Tools</span></li>

                                            <li ng-repeat="app in ::apps.tools">

                                                <a href drag="app.latest">
                                                    <span class="pointer pull-left" ng-if="app.revisions.length !== 0" ng-click="toggleAppRevisions(app._id)"><i class="fa" ng-class="{'fa-minus-square':view.appRevisions[app._id].toggled, 'fa-plus-square': !view.appRevisions[app._id].toggled}"></i></span>
                                                    <i class="fa fa-puzzle-piece"></i>
                                                    {{ ::app.name }} <small>(revision {{ ::app.latest.version }} )</small>
                                                    <div class="pull-right">
                                                        <span ng-if="app.latest.version && app.latest.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::app.latest.version }} </span>
                                                    </div>
                                                </a>

                                                <div ng-repeat="revision in ::app.revisions" class="revisions-list nested" ng-show="view.appRevisions[app._id].toggled">
                                                    <a href drag="revision">
                                                        <i class="fa fa-puzzle-piece"></i>
                                                        {{ ::app.name }} <small>(revision {{ ::revision.version }} )</small>
                                                        <div class="pull-right">
                                                            <span ng-if="revision.version && revision.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::revision.version }}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>

                                            <li ng-if="apps.scripts.length !== 0"><span class="label label-info section-name">Scripts</span></li>

                                            <li ng-repeat="app in apps.scripts">

                                                <a href drag="app.latest">
                                                    <span class="pointer pull-left" ng-if="app.revisions.length !== 0" ng-click="toggleAppRevisions(app._id)"><i class="fa" ng-class="{'fa-minus-square':view.appRevisions[app._id].toggled, 'fa-plus-square': !view.appRevisions[app._id].toggled}"></i></span>
                                                    <i class="fa fa-puzzle-piece"></i>
                                                    {{ ::app.name }} <small>(revision {{ ::app.latest.version }} )</small>
                                                    <div class="pull-right">
                                                        <span ng-if="app.latest.version && app.latest.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::app.latest.version }} </span>
                                                    </div>
                                                </a>

                                                <div ng-repeat="revision in app.revisions" class="revisions-list nested" ng-show="view.appRevisions[app._id].toggled">
                                                    <a href drag="revision">
                                                        <i class="fa fa-puzzle-piece"></i>
                                                        {{ ::app.name }} <small>(revision {{ ::revision.version }} )</small>
                                                        <div class="pull-right">
                                                            <span ng-if="revision.version && revision.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::revision.version }}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>

                                            <li ng-if="apps.workflows.length !== 0"><span class="label label-info section-name">Workflows</span></li>

                                            <li ng-repeat="workflow in apps.workflows">

                                                <a href drag="workflow.latest" >
                                                    <span class="pointer pull-left" ng-click="toggleAppRevisions(workflow._id)" ng-if="workflow.revisions.length !== 0"  ><i class="fa" ng-class="{'fa-minus-square':view.appRevisions[workflow._id].toggled, 'fa-plus-square': !view.appRevisions[workflow._id].toggled}"></i></span>
                                                    <i class="fa fa-puzzle-piece"></i>
                                                    {{ ::workflow.name }} <small>(revision {{ ::workflow.latest.version }} )</small>
                                                    <div class="pull-right">
                                                        <span ng-if="workflow.latest.version && workflow.latest.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::workflow.latest.version }} </span>
                                                    </div>
                                                </a>

                                                <div ng-show="view.appRevisions[workflow._id].toggled" ng-repeat="revision in workflow.revisions | orderBy:'-version':false" class="revisions-list nested" ng-show="view.appRevisions[workflow._id].toggled">
                                                    <a href drag="revision">
                                                        <i class="fa fa-puzzle-piece"></i>
                                                        {{ ::workflow.name }} <small>(revision {{ ::revision.version }} )</small>
                                                        <div class="pull-right">
                                                            <span ng-if="revision.version && revision.is_public" class="label label-primary"><i class="fa fa-tag"></i> v{{ ::revision.version }}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>


                            </li>

                        </ul>

                    </div>

                    <div class="tab flex-one" ng-switch-when="params">

                        <p class="alert alert-info" ng-if="view.json | isEmpty">Select node in order to change its parameters</p>

                        <form ng-if="!(view.json | isEmpty)" class="form" name="paramForms" novalidate>

                            <h3 class="tab-title">{{ ::view.json.name }}</h3>

                            <input-field
                                    ng-repeat="property in view.json.inputs track by property['@id']"
                                    ng-model="view.values[view.json.id][property['@id']]"
                                    class="input-field input-field-sm"
                                    key="@id"
                                    prop="property"
                                    form="form.jobForm"
                                    app-name="{{ ::view.json.id }}"
                                    exposed="view.exposed"
                                    ignore-files="true"
                                    handle-expose="onExpose(appName, property['@id'])">
                            </input-field>

                            <p class="alert alert-info" ng-if="view.json.inputs.length === 0">There are no params that can be exposed.</p>
                        </form>

                    </div>

                    <div class="tab flex-one" ng-switch-when="properties">
                        <h3>Properties</h3>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>