<form class="form-group rb-input rb-search" ng-class="{'has-error': hasError}" ng-submit="callback({search: ngModel})">
    <div class="input-group">
        <input class="form-control" type="search" ng-model="ngModel" placeholder="{{ ::placeholder}}"/>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-default" type="button" ng-show="ngModel.length && showClear || alwaysShowClear" ng-click="clearModel()">
            <i class="fa fa-ban"></i>
        </button>
    </span>
    </div>
</form>
