<div class="page home">
    <div class="content content-ten">

        <!--Buttons-->
        <div class="panel panel-default">
            <div class="panel-heading">Buttons</div>
            <div class="panel-body">
                <button class="btn btn-primary">btn-primary</button>
                <button class="btn btn-success">btn-success</button>
                <button class="btn btn-danger">btn-danger</button>
                <button class="btn btn-warning">btn-warning</button>
                <button class="btn btn-default">btn-default</button>

                <hr/>

                <a class="btn btn-default" tooltip="Edit Tool"><i class="fa fa-pencil"></i></a>

                <a href="" class="btn btn-default btn-toggle" tooltip="Toggle Versions (2)" tooltip-placement="left" tooltip-append-to-body="true" ng-click="showRevision = !showRevision" tabindex="0">2 <i class="fa" ng-class="{'fa-chevron-right': !showRevision, 'fa-chevron-down': showRevision}"></i></a>

                <hr/>

                <rb-button ng-click="testClick()" intention="danger" classes="test">Button</rb-button>
            </div>
        </div>

        <!--Form elements-->
        <div class="panel panel-default">
            <div class="panel-heading">Forms</div>
            <div class="panel-body">
                <form class="form row" action="">
                    <div class="col-xs-8">
                        <div class="section">
                            <legend class="legend-small">
                                Input examples
                            </legend>

                            <rb-input placeholder="Regular input"></rb-input>

                            <rb-input type="number" ng-model="numberInput"></rb-input>

                            <rb-input type="search" placeholder="Search" has-error="helpHasError" clear>
                                <label>Search Label</label>
                                <p ng-show="showHelpBlock" ng-class="{'has-error': helpHasError}">
                                    TODO: optional clear button
                                </p>
                            </rb-input>

                            <div class="form-group">
                                <rb-button intention="danger" ng-click="helpHasError = !helpHasError">Has Error</rb-button>
                                <rb-button intention="primary" ng-click="showHelpBlock = !showHelpBlock">Show help block</rb-button>
                            </div>

                            <div>
                                <label class="control-label">
                                    Expression input
                                </label>
                                <expr></expr>
                            </div>
                        </div>

                        <div class="section">
                            <legend class="legend-small">
                                TODO: select dropdown
                            </legend>
                        </div>



                        <div class="section">
                            <legend class="legend-small">
                                Checkbox example
                            </legend>

                            <rb-checkbox ng-model="checkboxModel" ng-disabled="disable">
                                Checkbox 1
                            </rb-checkbox>

                            <rb-button ng-click="disableCheckbox()"> disable checkbox </rb-button>

                            <rb-checkbox ng-model="checkboxModel2">
                                Checkbox 2
                            </rb-checkbox>

                        </div>


                        <div class="section">
                            <legend class="legend-small">
                                Enum List
                                <help-message message="help.cliche.general.argument"></help-message>
                            </legend>

                            <div class="enum-list-wrap">
                                <add-property
                                        type="arg"
                                        class="add-enum-item large">
                                </add-property>

                                <div class="enum-list-container">
                                    <property-arg
                                            ng-repeat="arg in view.tool.cliAdapter.argAdapters | orderBy:sortByPosition track by $index"
                                            ng-model="arg"
                                            index="{{ $index }}">
                                    </property-arg>

                                    <p class="alert alert-info large" ng-if="view.tool.cliAdapter.argAdapters | isEmpty">Click the plus button to add command line binding.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer">
                <button class="btn-default btn">Cancel</button>
                <button type="submit" class="btn-primary btn">Submit</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Tables</div>
            <div class="panel-body">

            </div>
        </div>


    </div>
</div>
