<div class="content content-ten">
    <div class="row-margin">
        <div class="col-md-6">
            <form class="section">
                <legend class="legend-small">Docker Container <help-message message="help.cliche.general.environment"></help-message></legend>

                <div class="row">
                    <div class="form-group">
                        <label for="imageId" class="control-label">Image ID</label>
                        <input tooltip="{{ ::help.cliche.general.imageId }}" tooltip-trigger="focus" type="text" class="form-control" id="imageId" name="imageId" ng-model="view.reqDockerRequirement.dockerImageId">
                    </div>

                    <div class="form-group">
                        <label for="dockerPull" class="control-label">Docker Repository[:Tag]</label>
                        <input tooltip="{{ ::help.cliche.general.dockerPull }}" tooltip-trigger="focus" type="text" class="form-control" id="dockerPull" name="dockerPull" ng-model="view.reqDockerRequirement.dockerPull">
                    </div>
                </div>
            </form>

            <div ng-if="view.type === 'tool'" class="section">

                <legend class="legend-small">Resources <help-message message="help.cliche.general.resources"></help-message></legend>

                <div class="row-margin">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">CPU</label>
                            <expr tooltip-msg="{{ ::help.cliche.general.cpu }}" ng-model="view.reqCPURequirement.value" type="number" options="view.cpuOptions" handle-item-update="updateResource(value, 'CPURequirement')"></expr>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Memory (MB)</label>
                            <expr tooltip-msg="{{ ::help.cliche.general.memory }}" ng-model="view.reqMemRequirement.value" type="number" handle-item-update="updateResource(value, 'MemRequirement')"></expr>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6">
            <div class="section">
                <legend class="legend-small">Command <help-message message="help.cliche.general.command"></help-message></legend>

                <div class="form-group">
                    <label class="control-label">Base Command</label>

                    <div class="enum-list-wrap">
                        <a tooltip="{{ ::help.cliche.general.addBaseCMD }}" href ng-click="addBaseCmd()" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>
                        <div class="enum-list-container">
                            <ul class="enum-list" ng-class="{wide: view.tool.baseCommand.length === 1}">
                                <li ng-repeat="baseCmd in view.tool.baseCommand track by $index">
                                    <div class="enum-field form-group form-group-file">
                                        <expr tooltip-msg="{{ ::help.cliche.general.baseCMD }}" ng-model="baseCmd" index="{{ $index }}" handle-item-update="updateCliAdapter(value, index, 'baseCommand')" handle-item-blur="splitBaseCmd(value, index)"></expr>
                                    </div>
                                    <a href ng-hide="view.tool.baseCommand.length === 1" class="fa fa-remove remove-btn" ng-click="removeBaseCmd($index)"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- # Base Cmd-->

                <div class="row-margin">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Stdin</label>
                            <expr tooltip-msg="{{ ::help.cliche.general.stdin }}" ng-model="view.tool.stdin" handle-item-update="updateCliAdapter(value, null, 'stdin')"></expr>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Stdout</label>
                            <expr tooltip-msg="{{ ::help.cliche.general.stdout }}" ng-model="view.tool.stdout" handle-item-update="updateCliAdapter(value, null, 'stdout')"></expr>
                        </div>
                    </div>
                </div>
                <!-- # StdIn and StdOut-->

                <div class="row-margin">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Success Codes <help-message message="help.cliche.general.successCodes"></help-message> </label>

                            <div class="enum-list-wrap">

                                <a tooltip="{{ ::help.cliche.general.successCodes }}" href ng-click="addStatusCode('successCodes')" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>
                                <div class="enum-list-container">
                                    <ul class="enum-list">
                                        <li ng-repeat="successCode in view.tool.successCodes track by $index">
                                            <div class="enum-field form-group form-group-file ">
                                                <div class="input-group status-codes">
                                                    <input class="form-control" type="number" ng-model="view.tool.successCodes[$index]" />
                                                </div>
                                            </div>
                                            <a href class="fa fa-remove remove-btn" ng-click="removeStatusCode('successCodes', $index)"></a>
                                        </li>
                                    </ul>

                                    <p class="alert alert-info" ng-if="view.tool.successCodes | isEmpty">Click the plus button to add codes</p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Temporary Fail Codes <help-message message="help.cliche.general.tempFailCodes"></help-message> </label>

                            <div class="enum-list-wrap">

                                <a tooltip="{{ ::help.cliche.general.temporaryFailCodes }}" href ng-click="addStatusCode('temporaryFailCodes')" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>
                                <div class="enum-list-container">
                                    <ul class="enum-list" >
                                        <li ng-repeat="temporaryFailCode in view.tool.temporaryFailCodes track by $index">
                                            <div class="enum-field form-group form-group-file">
                                                <div class="input-group status-codes">
                                                    <input class="form-control" type="number" ng-model="view.tool.temporaryFailCodes[$index]" />
                                                </div>
                                            </div>
                                            <a href class="fa fa-remove remove-btn" ng-click="removeStatusCode('temporaryFailCodes', $index)"></a>
                                        </li>
                                    </ul>

                                    <p class="alert alert-info" ng-if="view.tool.temporaryFailCodes | isEmpty">Click the plus button to add codes</p>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="section">
                <legend class="legend-small">
                    Arguments
                    <help-message message="help.cliche.general.arguments"></help-message>
                </legend>


                <div class="enum-list-wrap">
                    <add-property
                            tooltip-msg="{{ ::help.cliche.general.addArgument }}"
                            type="arg"
                            handler="generateCommand()"
                            properties="view.tool.arguments"
                            class="add-enum-item large">
                    </add-property>

                    <div class="enum-list-container">
                        <property-arg
                                ng-repeat="arg in view.tool.arguments | orderBy:sortByPosition track by $index"
                                ng-model="arg"
                                index="{{ $index }}">
                        </property-arg>

                        <p class="alert alert-info large" ng-if="view.tool.arguments | isEmpty">Click the plus button to add command line binding.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
